doctype html
head
    title #{title}
    meta(charset='UTF-8')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='css/base_style.css')
    link(rel='stylesheet' href='css/w3css4.css')
    link(rel='stylesheet' href='css/w3-theme.css')
    link(rel='stylesheet' href='css/text_editor.css')
    link(rel='stylesheet' href='css/create_form_style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css')
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/bootstrap.js')
    script(src='js/jquery.dataTables.js')
    script(src='js/sidebar.js')

.w3-top
    .w3-bar.w3-theme.w3-top.w3-left-align.w3-large
        a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hover-white.w3-large.w3-theme-l1(href='javascript:void(0)' onclick='w3_open()')
            i.fa.fa-bars
        a.w3-bar-item.w3-button.w3-hover-white(href='/')
            i.fa.fa-home.w3-margin-right
            |   Home
        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='')
            i.fa.fa-user.icon-dark
            |   Account Settings
        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='')
            i.fa.fa-bell.icon-dark
            span.w3-badge.w3-right.w3-small.w3-green 3
            |   Notifications
        a.w3-bar-item.w3-button.w3-hide-small.w3-hide-medium.w3-hover-white(href='/logout')
            img.w3-circle(src='src/avatar2.png' style='height:23px;width:23px' alt='Avatar')
            |  Logout
        a#userFirstNameNav.w3-bar-item.w3-hide-small.w3-hide-medium #{userDetailsBlock.firstName}

nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-large.w3-theme.w3-animate-left
    .w3-card.w3-round.w3-white
        .w3-container
            h4.w3-center #{userDetailsBlock.firstName}
            p.w3-center
                img.w3-circle(src='src/avatar3.png' style='height:106px;width:106px' alt='Avatar')
            hr
            h6
                i.fa.fa-info-circle.fa-fw.w3-margin-right.w3-text-theme
                |
                myElement #{userDetailsBlock.empID}
            h6
                i.fa.fa-user.fa-fw.w3-margin-right.w3-text-theme
                |
                myElement #{userDetailsBlock.firstName} #{userDetailsBlock.lastName}
            h6
                i.fa.fa-briefcase.fa-fw.w3-margin-right.w3-text-theme
                |
                myElement #{userDetailsBlock.userLevel}

    .w3-card.w3-round
        .w3-white
            button.w3-button.w3-block.light-mode.w3-left-align(onclick="myFunction('Demo1')")
                i.fa.fa-circle-o-notch.fa-fw.w3-margin-right
                |  Form Management
            #Demo1.w3-hide.w3-container
                p
                    a(href='/createform')
                        i.fa.fa-plus-circle.w3-margin-right
                        | Create Forms
                p
                    a(href='/viewforms')
                        i.fa.fa-file-o.w3-margin-right
                        | View Forms
                p
                    a(href='/submission')
                        i.fa.fa-info.w3-margin-right
                        | Submission
                p
                    a(href='/viewreports')
                        i.fa.fa-pie-chart.w3-margin-right
                        | View Reports
            button.w3-button.w3-block.light-mode.w3-left-align(onclick="myFunction('Demo2')")
                i.fa.fa-calendar-check-o.fa-fw.w3-margin-right
                |  Form Events
            #Demo2.w3-hide.w3-container
                p
                    a(href='/managenotifications')
                        i.fa.fa-bell-o.w3-margin-right
                        | Set Form notifications
                p
                    a(href='/managedeadlines')
                        i.fa.fa-calendar-check-o.w3-margin-right
                        | Set Form due dates
            button.w3-button.w3-block.light-mode.w3-left-align(onclick="myFunction('Demo3')")
                i.fa.fa-users.fa-fw.w3-margin-right
                |  User Management
            #Demo3.w3-hide.w3-container
                p
                    a(href='/createusers')
                        i.fa.fa-plus-circle.w3-margin-right
                        | Create User
                p
                    a(href='/viewusers')
                        i.fa.fa-users.w3-margin-right
                        | View Users

        a.w3-bar-item.w3-button.edit-name.w3-hover-black(href='#')
                i.bi.bi-pencil-square
                |  Edit Project Name
        a.w3-bar-item.w3-button.w3-hover-black(href='#')
                i.bi.bi-pencil-square
                |  Edit Abstract
        a.w3-bar-item.w3-button.w3-hover-black(href='/uploadfiles')
                i.bi.bi-file-arrow-up
                |  Upload Files
        a.w3-bar-item.w3-button.w3-hover-black(href='#')
                i.bi.bi-person-plus
                |  Add Authors

.w3-main(style='margin-left:250px')
    .w3-row.w3-padding-64
        h4 Create Form
        hr.w3-clear
        p.w3-center
        .w3-row.w3-container
            .grid-container
                .grid-item
                    label(for='textBoxSelect') Text Box:
                    select#textBoxSelect(onchange='createTextBox()')
                        option(value='no-function') Click to Select
                        option(value='normal-text') Normal Text
                        option(value='title') Title
                        option(value='subtitle') Subtitle
                        option(value='heading-1') Heading 1
                        option(value='heading-2') Heading 2
                        option(value='heading-3') Heading 3
                .grid-item
                    label(for='fontSizeSelect') Font Size:
                    select#fontSizeSelect(onchange='changeFontSize()')
                    // Generate font size options using JavaScript
                        script.
                          for (let i = 1; i <= 100; i++) {
                          document.write(`<option value="${i}">${i}</option>`);
                          }
                .grid-item.borderless
                .grid-item
                    label(for='colorSelect') Select Text Color:
                    select#colorSelect(onchange='changeTextColor()')
                        option(value='black') Black
                        option(value='white') White
                        option(value='red') Red
                        option(value='blue') Blue
                        option(value='grey') Grey
                .grid-item
                    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeBold()')
                        i.fa.fa-bold.icon-light
                .grid-item
                    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeItalic()')
                        i.fa.fa-italic.icon-light
                .grid-item
                    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeUnderline()')
                        i.fa.fa-underline.icon-light
                .grid-item.borderless
                .grid-item
                    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignLeft()')
                        i.fa.fa-align-left.icon-light
                .grid-item
                    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignRight()')
                        i.fa.fa-align-right.icon-light
                .grid-item
                    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignCenter()')
                        i.fa.fa-align-center.icon-light
                .grid-item
                    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignJustify()')
                        i.fa.fa-align-justify.icon-light
                .grid-item.borderless
                .grid-item
                    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='')
                        i.fa.fa-list-ul.icon-light
                .grid-item.borderless
                .grid-item
                    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='')
                        i.fa.fa-table.icon-light
                .grid-item
                    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='')
                        i.fa.fa-picture-o.icon-light
                .grid-item.borderless
                .grid-item
                    a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='')
                        i.fa.fa-list-ol.icon-light
                .grid-item.borderless

        .w3-twothird.w3-container
            #form-content.pages
                #page-1.drop-container

        .w3-quarter.w3-container
            .page-container
                .draggable-content
                    table#table_header.table.draggable(draggable='true')
                        tr
                          th Document Code
                          th ********
                        tr
                          th Revision Number
                          th 00
                        tr
                          th Effectivity
                          th ******
                        tr
                          th Page
                          th 1 of 7
                        br

                    .box.draggable(draggable='true')
                        | SCHOOL OF ACCOUNTANCY, MANAGEMENT,
                        |                         COMPUTING, AND INFORMATION STUDIES
                        | Saint Louis University, Baguio City

                    table.table.draggable(draggable='true')
                        tr
                          th(rowspan='2') Designation
                          th(rowspan='2') Institution
                          th(colspan='2') Status (Please Check)
                          th(rowspan='2') Dates
                          th(rowspan='2') No. of Years
                        tr
                          th Full-time
                          th Part-time
                        tr
                          td
                          td
                          td
                          td
                          td
                          td
                    br

                    table.draggable.table(draggable='true')
                        tr
                          th Header 1
                          th Header 2
                        tr
                          td
                          td
                        tr
                          td
                          td



        script.
            function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
            } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
            x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
            }

        script(type='text/javascript').
            $(document).ready(function() {
            $('#table').DataTable();
            } );

        script(type='text/javascript').
            $(document).ready(function(){
            //bi-trash
            //$('.btn_remove').on('click', function(){
            //delete file modal
            $('.bi-trash').on('click', function(){
            var store_id = $(this).attr('id');
            $("#modal_remove").modal('show');
            $('#btn_yes').attr('name', store_id);
            });
            $('.edit-name').on('click', function(){
            $("#modal_rename").modal('show');
            });
            $('#btn_yes').on('click', function(){
            var id = $(this).attr('name');
            $.ajax({
            type: "POST",
            url: "deletefile.php",
            data:{
            store_id: id
            },
            success: function(data){
            $("#modal_remove").modal('hide');
            $(".del_file" + id).empty();
            $(".del_file" + id).html("<td colspan='4'><center class='text-danger'>Deleting...</center></td>");
            setTimeout(function(){
            $(".del_file" + id).fadeOut('slow');
            }, 1000);
            }
            });
            });
            });


footer#myFooter
    .w3-container.w3-theme-l1
        p
            center SLU IT Projects Catalogue

script(src='js/create_form_text_editing.js')
script(src='js/create_form_drag_drop.js')