extends formviewlayout.pug

block body
    #main.w3-main(style='margin-left:250px; margin-bottom: 90px;')
        .w3-row.w3-padding-32
        if (currentUserDetailsBlock.userLevel === "Department Head" || currentUserDetailsBlock.userLevel === "Secretary" || currentUserDetailsBlock.userLevel === "Document Controller" || currentUserDetailsBlock.empID != currentForm.form_owner)
        else
            if (currentUserDetailsBlock.empID == currentForm.form_owner)
                .w3-container.w3-card.w3-white.w3-round.w3-margin
                    .w3-row
                        .w3-threequarter.w3-container2
                            h3.w3-bold Form Details
                            hr
                            .w3-quarter
                                .w3-container2.w3-card.w3-white.w3-round.w3-margin
                                    h4.w3-bold Saved User Form Versions
                                    .w3-row
                                        select#versionDropDown(name='versionDropDown')
                                            each version in allVersions
                                                option #{version.user_version}
                                    .w3-row
                                        br
                                        button.w3-button.w3-block.w3-theme-dark(onclick=`showLoadVersionModal()`)
                                            i.fa.fa-refresh.fa-fw.w3-margin-right
                                            |   Load Form
                            if (currentUserDetailsBlock.empID == currentForm.form_owner && currentForm.shared_status == true)
                                .w3-quarter
                                    .w3-container.w3-card.w3-white.w3-round.w3-margin
                                        h4.w3-bold Share Document
                                        hr
                                        .w3-row
                                            input(id='employee_email' name='employee_email' placeholder="Employee Email")
                                        .w3-row
                                            select#accessLevel(name='accessLevel')
                                                option(value='Viewer') Viewer
                                                option(value='Editor') Editor
                                        .w3-row
                                            br
                                            button.w3-button.w3-block.w3-theme-dark(onclick='validateShareForm()')
                                                i.fa.fa-share-alt.fa-fw.w3-margin-right
                                                |   Share
                                        hr
                                        h3.w3-bold Remarks:
                                        if (currentForm.secretary_remark === null || currentForm.secretary_remark === undefined || currentForm.secretary_remark === "")
                                            p.w3-row.textArea-noResize.w3-center No Remarks
                                        else
                                            p.w3-row.textArea-noResize.w3-center #{currentForm.secretary_remark}

                                .w3-half
                                    .w3-container2.w3-card.w3-white.w3-round.w3-margin
                                        h4.w3-bold Shared with
                                        hr
                                        table#sharedPeopleTable.display(width='100%')
                                            thead
                                                tr
                                                    th Employee Name
                                                    th Employee Email
                                                    th Shared Rights
                                                    th Actions
                                            tbody
                                                each read in sharedRead
                                                    tr
                                                        td #{read.first_name} #{read.last_name}
                                                        td #{read.email}
                                                        td Read Only
                                                        td
                                                            button.w3-button.w3-block.w3-theme-dark(onclick=`removeSharedUser("${read.email}")`) Remove
                                                each write in sharedWrite
                                                    tr
                                                        td #{write.first_name} #{write.last_name}
                                                        td #{write.email}
                                                        td Edit
                                                        td
                                                            button.w3-button.w3-block.w3-theme-dark(onclick=`removeSharedUser("${write.email}")`) Remove
                            else
                                .w3-half
                                    .w3-container2.w3-card.w3-white.w3-round.w3-margin
                                        h3.w3-bold Remarks by Secretary:
                                        if (initialTemplateForm.secretary_remark === null || initialTemplateForm.secretary_remark === undefined || initialTemplateForm.secretary_remark === "")
                                            p.w3-row.textArea-noResize.w3-center No Remarks
                                        else
                                            p.w3-row.textArea-noResize.w3-center #{initialTemplateForm.secretary_remark}

                        .w3-quarter.w3-container2
                            h3.w3-bold Form Settings
                            hr
                            .w3-row
                                .w3-container.w3-white.w3-round.w3-margin
                                    .w3-row
                                        button.w3-button.w3-block.w3-theme-dark(onclick='showSaveFormModal()')
                                            i.fa.fa-floppy-o.fa-fw.w3-margin-right
                                            |   Save Form
                                        br
                                        button#submitButton.w3-button.w3-block.w3-theme-dark(onclick='submitForm()')
                                            i.fas.fa-cloud-upload-alt.w3-margin-right
                                            |   Submit Form
                                        br
                                        button#mergeButton.w3-button.w3-block.w3-theme-dark(onclick='mergeForm()')
                                            i.fas.fa-code-branch.w3-margin-right.iconSize
                                            |   Merge Form
                                        br


        if (currentUserDetailsBlock.userLevel === "Secretary" || currentUserDetailsBlock.userLevel === "Super Admin")
            .w3-container.w3-card.w3-white.w3-round.w3-margin
                .w3-row
                    .w3-half.w3-container2
                        h3.w3-bold User Form Settings
                        hr
                        .w3-third
                            .table-container.w3-container2.w3-card.w3-white.w3-round.w3-margin
                                h4.w3-bold Form Details
                                .w3-row
                                    table.form-details
                                        tr
                                            td Form Name:
                                            td #{currentForm.form_name}
                                        tr
                                            td Status:
                                            td#formDetailsActivateSetting #{currentForm.form_status}
                                        tr
                                            td Due Date:
                                            td#formDueDateSetting
                                                if (!currentForm.due_date)
                                                    | None
                                                else
                                                    | #{currentForm.due_date}
                                        tr
                                            td Academic Year
                                            td#formAcademicYearSetting
                                                if (!currentForm.academic_year)
                                                    | None
                                                else
                                                    | #{currentForm.academic_year}

                                        tr
                                            td Semester
                                            td#Semester
                                                if (!currentForm.semester)
                                                    | None
                                                else
                                                    | #{currentForm.semester}

                                hr
                                h4.w3-bold Approvals
                                .w3-row
                                    table.form-details
                                        tr
                                            td Secretary:
                                            td
                                                if (!currentForm.secretary_approval)
                                                    #secretaryApproval Not Approved
                                        tr
                                            td Department Head:
                                            td
                                                if (!currentForm.dean_approval)
                                                    #departmentHeadApproval  Not Approved
                                        tr
                                            td Dean:
                                            td
                                                if (!currentForm.department_head_approval)
                                                    #deanApproval  Not Approved

                        if (currentUserDetailsBlock.userLevel === "Secretary")
                            .w3-third
                                .table-container.w3-container2.w3-card.w3-white.w3-round.w3-margin
                                    h4.w3-bold Form Settings
                                    .w3-row
                                        button#toggleActivateFormButton.w3-button.w3-block.w3-theme-dark(onclick='toggleActivateForm()') Activate
                                    hr
                                    h4#dueDateH4.w3-bold Due Date
                                    #dueDateContainer.w3-row
                                        input(type="date" id="dueDateInput" name="birthday")
                                    br
                                    #dueDateContainer1.w3-row
                                        button#dueDateButton.w3-button.w3-block.w3-theme-dark(onclick='setDueDate()')
                                            i.fa.fa-share-alt.fa-fw.w3-margin-right
                                            |   Set Due Date
                                    hr
                                    .w3-white.w3-round
                                        h3.w3-bold Remarks:
                                        if (currentForm.doccontrol_remarks === null || currentForm.doccontrol_remarks === undefined || currentForm.doccontrol_remarks === "")
                                            p.w3-row.textArea-noResize.w3-center No Remarks
                                        else
                                            p.w3-row.textArea-noResize.w3-center #{currentForm.doccontrol_remarks}

                            .w3-third
                                .table-container.w3-container2.w3-card.w3-white.w3-round.w3-margin
                                    h4.w3-bold Assign User
                                    .w3-row
                                        input(id='assign_user' name='employee_email' placeholder="Employee Email")
                                    br
                                    .w3-row
                                        button.w3-button.w3-block.w3-theme-dark(onclick='validateAssignUsers()')
                                            i.fa.fa-share-alt.fa-fw.w3-margin-right
                                            | Assign Selected User
                                    hr
                                    h4.w3-bold Assign Department
                                    .w3-row
                                        select#assignDepartment(name='assignDepartment')
                                            option(value='null') Choose Department
                                            option(value='Accountancy Business Laws and Taxation') Accountancy Business Laws and Taxation Department
                                            option(value='Business Economics and Financial Management') Business Economics and Financial Management Department
                                            option(value='Computer Science and Computer Application') Computer Science and Computer Application Department
                                            option(value='Entrepreneurship/Human Resource Development Management/Marketing Management') Entrepreneurship/Human Resource Development Management/Marketing Management Department
                                            option(value='Hospitality and Tourism Management') Hospitality and Tourism Management Department
                                            option(value='Information Technology') Information Technology Department
                                            option(value='Math') Math Department
                                    br
                                    .w3-row
                                        button.w3-button2.w3-block.w3-theme-dark(onclick='validateDepartmentAssignment()')
                                            i.fa.fa-share-alt.fa-fw.w3-margin-right
                                            | Assign Selected Department

                    .w3-half.w3-container2
                        h3.w3-bold Submitted Forms
                        hr
                        .table-container.w3-container2.w3-card.w3-white.w3-round.w3-margin
                            table#submittedFormsTable(width='100%')
                                thead
                                    tr
                                        th Employee First Name
                                        th Employee Last Name
                                        th Employee Number
                                        th Date Submitted
                                        th Time Submitted
                                        th Form Status
                                        th View Form
                                        th Approve Form
                                        th Return Form
                                tbody
                                    each submissions in submittedVersions
                                        if ((currentUserDetailsBlock.userLevel === "Department Head" && currentUserDetailsBlock.userDepartment === submissions.user_department) || currentUserDetailsBlock.userLevel === "Secretary" || currentUserDetailsBlock.userLevel === "Dean")
                                            tr
                                                td #{submissions.first_name}
                                                td #{submissions.last_name}
                                                td #{submissions.form_owner}
                                                td #{submissions.date_submitted}
                                                td #{submissions.time_saved}
                                                td #{submissions.form_status}
                                                td
                                                    button.w3-button2.w3-block.w3-theme-dark(onclick=`renderSubmittedForm("${submissions.form_owner}")`) View
                                                if (currentUserDetailsBlock.userLevel === "Secretary" && submissions.secretary_approval === "Approved")
                                                    td Approved
                                                    td Cannot Return
                                                else if (currentUserDetailsBlock.userLevel === "Dean" && submissions.dean_approval === "Approved")
                                                    td Approved
                                                    td Cannot Return
                                                else if (currentUserDetailsBlock.userLevel === "Department Head" && submissions.department_head_approval === "Approved")
                                                    td Approved
                                                    td Cannot Return
                                                else if (currentUserDetailsBlock.userLevel === "Secretary" && submissions.secretary_approval === "Returned")
                                                    td Cannot Approve
                                                    td Returned
                                                else if (currentUserDetailsBlock.userLevel === "Dean" && submissions.dean_approval === "Returned")
                                                    td Cannot Approve
                                                    td Returned
                                                else if (currentUserDetailsBlock.userLevel === "Department Head" && submissions.department_head_approval === "Returned")
                                                    td Cannot Approve
                                                    td Returned
                                                else
                                                    td
                                                        button.w3-button2.w3-block.w3-theme-dark(onclick=`approveSubmittedForm("${submissions.form_owner}", "${String(submissions.form_control_number)}")`) Approve Form
                                                    td
                                                        button.w3-button2.w3-block.w3-theme-dark(onclick=`returnSubmittedForm("${submissions.form_owner}", "${String(submissions.form_control_number)}")`) Return Form

            if (currentUserDetailsBlock.userLevel === "Secretary")
                .w3-container.w3-card.w3-white.w3-round.w3-margin
                    .w3-row
                        .w3-container
                            h3.w3-bold Assigned Users
                            hr
                            .w3-white.w3-round.w3-margin
                                table#assignedUserTable.display(width='100%')
                                    thead
                                        tr
                                            th Email
                                            th Employee ID
                                            th Department
                                            th First Name
                                            th Last Name
                                            th Status
                                            th Action
                                    tbody
                                        each assignedUsers in allAssignedUsers
                                            tr
                                                td #{assignedUsers.email}
                                                td #{assignedUsers.emp_id}
                                                td #{assignedUsers.user_department}
                                                td #{assignedUsers.first_name}
                                                td #{assignedUsers.last_name}
                                                if (assignedUsers.user_submitted_status === true)
                                                    td Submitted
                                                else if (assignedUsers.user_approved_status === true)
                                                    td Approved
                                                else if (assignedUsers.user_returned_status === true)
                                                    td Returned
                                                else
                                                    td Not Yet Submitted
                                                td
                                                    .button-container.w3-row
                                                    a.full-width-button.w3-center.all-caps(onclick=`bridgeRemoveUserModal('${assignedUsers.email}')`) Unassign
                .w3-container.w3-padding-32
                    h3.w3-bold Remarks for Faculty:
                    textArea#remarks.w3-row.textArea-noResize(placeholder="Type edit remarks here") #{currentForm.secretary_remark}
                    button.w3-button2.w3-block.w3-theme-dark(onclick='addSecretaryRemarks()') Add Remarks
        if (currentUserDetailsBlock.userLevel == "Department Head" || currentUserDetailsBlock.userLevel == "Dean")
            .w3-container.w3-card.w3-white.w3-round.w3-margin
                .w3-row
                    //.w3-half.w3-container2
                    .w3-third.w3-container2
                        h3.w3-bold User Form Settings
                        hr
                        .w3-half
                            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                                h4.w3-bold Form Details
                                .w3-row
                                    table.form-details
                                        tr
                                            td Form Name:
                                            td #{currentForm.form_name}
                                        tr
                                            td Status:
                                            td#formDetailsActivateSetting #{currentForm.form_status}
                                        tr
                                            td Due Date:
                                            td#formDueDateSetting
                                                if (!currentForm.due_date)
                                                    | None
                                                else
                                                    | #{currentForm.due_date}
                                        tr
                                            td Academic Year
                                            td #{currentForm.academic_year}
                                        tr
                                            td Semester
                                            td #{currentForm.semester}

                        .w3-half
                            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                                h4.w3-bold Approvals
                                .w3-row
                                    table.form-details
                                        tr
                                            td Secretary:
                                            td
                                                if (!currentForm.secretary_approval)
                                                    #secretaryApproval Not Approved
                                        tr
                                            td Department Head:
                                            td
                                                if (!currentForm.dean_approval)
                                                    #departmentHeadApproval  Not Approved
                                        tr
                                            td Dean:
                                            td
                                                if (!currentForm.department_head_approval)
                                                    #deanApproval  Not Approved
                                    hr
                                    .w3-white.w3-round
                                        h3.w3-bold Remarks:
                                        if (currentForm.secretary_remark === null || currentForm.secretary_remark === undefined || currentForm.secretary_remark === "")
                                            p.w3-row.textArea-noResize.w3-center No Remarks
                                        else
                                            p.w3-row.textArea-noResize.w3-center #{currentForm.secretary_remark}

                    .w3-twothird.w3-container2
                        h3.w3-bold Submitted Forms
                        hr
                        .w3-container2.w3-card.w3-white.w3-round.w3-margin
                            table#submittedFormsTable.display(width='100%')
                                thead
                                    tr
                                        th Employee First Name
                                        th Employee Last Name
                                        th Employee Number
                                        th Date Submitted
                                        th Time Submitted
                                        th Form Status
                                        th View Form
                                        th Approve Form
                                        th Return Form
                                tbody
                                    each submissions in submittedVersions
                                        if (currentUserDetailsBlock.userDepartment === submissions.user_department || currentUserDetailsBlock.userLevel === "Secretary" || currentUserDetailsBlock.userLevel === "Dean")
                                            tr
                                                td #{submissions.first_name}
                                                td #{submissions.last_name}
                                                td #{submissions.form_owner}
                                                td #{submissions.date_submitted}
                                                td #{submissions.time_saved}
                                                td #{submissions.form_status}
                                                td
                                                    button.w3-button2.w3-block.w3-theme-dark(onclick=`renderSubmittedForm("${submissions.form_owner}")`) View
                                                if (currentUserDetailsBlock.userLevel === "Secretary" && submissions.secretary_approval === "Approved")
                                                    td Approved
                                                    td Cannot Return
                                                else if (currentUserDetailsBlock.userLevel === "Dean" && submissions.dean_approval === "Approved")
                                                    td Approved
                                                    td Cannot Return
                                                else if (currentUserDetailsBlock.userLevel === "Department Head" && submissions.department_head_approval === "Approved")
                                                    td Approved
                                                    td Cannot Return
                                                else if (currentUserDetailsBlock.userLevel === "Secretary" && submissions.secretary_approval === "Returned")
                                                    td Cannot Approve
                                                    td Returned
                                                else if (currentUserDetailsBlock.userLevel === "Dean" && submissions.dean_approval === "Returned")
                                                    td Cannot Approve
                                                    td Returned
                                                else if (currentUserDetailsBlock.userLevel === "Department Head" && submissions.department_head_approval === "Returned")
                                                    td Cannot Approve
                                                    td Returned
                                                else
                                                    td
                                                        button.w3-button2.w3-block.w3-theme-dark(onclick=`approveSubmittedForm("${submissions.form_owner}", "${String(submissions.form_control_number)}")`) Approve Form
                                                    td
                                                        button.w3-button2.w3-block.w3-theme-dark(onclick=`returnSubmittedForm("${submissions.form_owner}", "${String(submissions.form_control_number)}")`) Return Form

            if (currentUserDetailsBlock.userLevel === "Secretary")
                .w3-container.w3-card.w3-white.w3-round.w3-margin
                    .w3-row
                        .w3-container
                            h3.w3-bold Assigned Users
                            hr
                            .w3-white.w3-round.w3-margin
                                table#assignedUserTable.display(width='100%')
                                    thead
                                        tr
                                            th Email
                                            th Employee ID
                                            th Department
                                            th First Name
                                            th Last Name
                                            th Action
                                    tbody
                                        each assignedUsers in allAssignedUsers
                                            tr
                                                td #{assignedUsers.email}
                                                td #{assignedUsers.emp_id}
                                                td #{assignedUsers.user_department}
                                                td #{assignedUsers.first_name}
                                                td #{assignedUsers.last_name}
                                                td
                                                    .button-container.w3-row
                                                    a.full-width-button.w3-center.all-caps(onclick=`removeUser('${assignedUsers.email}')`) Unassign

        .w3-row
            .w3-container2.w3-white.w3-round.w3-margin
                #enginePlaceHolder

        #generalConfirmationModal
            #generalConfirmationModalOverlay.dialogoverlay
            #generalConfirmationModalDialogBox.dialogbox.slit-in-vertical
                #randomDiv
                    .diaglogboxhead
                        .i.fa.fa-exclamation-circle Confirmation
                    .dialogboxbody
                        p#generalConfirmationModalMessage
                .dialogboxfoot
                    button.pure-material-button-contained.active#generalConfirmationModalYes Yes
                .dialogboxfoot2
                    button.pure-material-button-contained.active(onclick=`hideGeneralConfirmationModal()`) No

        #generalErrorModal
            #generalErrorOverLay.dialogoverlay-green
            #generalErrorDialogbox.dialogbox.slit-in-vertical
                #randomDiv
                    .dialogboxhead-red
                        .i.fa.fa-exclamation-circle Error Message
                    .dialogboxbody
                        p#generalErrorMessage
                .dialogboxfoot
                    button.pure-material-button-contained.active(onclick=`hideGeneralErrorModal()`) Ok

        #generalSuccessModal
            #generalSuccessOverLay.dialogoverlay-green
            #generalSuccessDialogbox.dialogbox.slit-in-vertical
                #randomDiv
                    .dialogboxhead-green
                        .i.fa.fa-exclamation-circle Success
                    .dialogboxbody
                        p#generalSuccessMessage
                .dialogboxfoot
                    button.pure-material-button-contained.active(onclick=`hideGeneralSuccessModal()`) Ok

        #saveFormModal
            #saveFormModalOverLay.dialogoverlay
            #saveFormModalDialogbox.dialogbox.slit-in-vertical
                #randomDiv
                    .dialogboxhead
                        .i.fa.fa-exclamation-circle Confirm Saving
                    .dialogboxbody
                        p Are you sure you want to save this Form?
                        p Saved changes will be accessible through loading previous versions
                .dialogboxfoot
                    button.pure-material-button-contained.active(onclick=`saveFilledOutForm()`) Yes
                .dialogboxfoot2
                    button.pure-material-button-contained.active(onclick=`hideSaveFormModal()`) No

        #shareFormAlertModal
            #shareFormAlertOverLay.dialogoverlay
            #shareFormAlertDialogbox.dialogbox.slit-in-vertical
                #randomDiv
                    .dialogboxhead-red
                        .i.fa.fa-exclamation-circle
                        |   Alert
                    .dialogboxbody
                        p Please make sure to put a valid Employee Email Address
                .dialogboxfoot
                    button.pure-material-button-contained.active(onclick=`hideShareFormAlertModal()`) Okay

        #shareFormModal
            #shareFormOverLay.dialogoverlay
            #shareFormDialogbox.dialogbox.slit-in-vertical
                #randomDiv
                    .dialogboxhead
                        .i.fa.fa-exclamation-circle Confirm Form Sharing Details
                    .dialogboxbody
                        p#sharingMessage
                .dialogboxfoot
                    button.pure-material-button-contained.active(onclick=`shareForm()`) Yes
                .dialogboxfoot2
                    button.pure-material-button-contained.active(onclick=`hideShareFormModal()`) No

        #loadVersionModal
            #loadVersionOverLay.dialogoverlay
            #loadVersionDialogbox.dialogbox.slit-in-vertical
                #randomDiv
                    .dialogboxhead
                        .i.fa.fa-exclamation-circle Confirm Form Rendering
                    .dialogboxbody
                        p#formRenderingMessage
                .dialogboxfoot
                    button.pure-material-button-contained.active(onclick=`renderSelectedVersion()`) Yes
                .dialogboxfoot2
                    button.pure-material-button-contained.active(onclick=`hideLoadVersionModal()`) No

        #deleteFileModal
            #deleteFileOverLay.dialogoverlay
            #deleteFileDialogbox.dialogbox.slit-in-vertical
                #randomDiv
                    .dialogboxhead
                        .i.fa.fa-exclamation-circle Confirm File Deletion
                    .dialogboxbody
                        p Are you sure you want to delete this file?
                        h2#selectedFileForDeletionPlaceholder
                .dialogboxfoot
                    button.pure-material-button-contained.active(onclick=`deleteSelectedFile()`) Yes
                .dialogboxfoot2
                    button.pure-material-button-contained.active(onclick=`hideDeleteModal()`) No

        if (currentUserDetailsBlock.empID != currentForm.form_owner)
        else
            .w3-container.w3-card.w3-white.w3-round.w3-margin
                .w3-row
                    .w3-container
                        h3.w3-bold Previously Submitted Forms
                        hr
                        .w3-white.w3-round.w3-margin
                            table#previouslySubmittedForms.display(width='100%')
                                thead
                                    tr
                                        th Form Name
                                        th Form Control Number
                                        th Time Submitted
                                        th Date Submitted
                                        th Department Head Approval
                                        th Secretary Approval
                                        th Dean Approval
                                        th Action
                                tbody
                                    each prevSubmitForms in previouslySubmittedForms
                                        tr
                                            td #{prevSubmitForms.form_name}
                                            td #{prevSubmitForms.form_control_number}
                                            td #{prevSubmitForms.time_saved}
                                            td #{prevSubmitForms.date_submitted}
                                            td #{prevSubmitForms.department_head_approval}
                                            td #{prevSubmitForms.secretary_approval}
                                            td #{prevSubmitForms.dean_approval}
                                            td
                                                button.w3-button2.w3-block.w3-theme-dark(onclick=`renderPrevSubmittedForm("${prevSubmitForms.form_owner}", "${prevSubmitForms.user_version}")`) View
        script.
            function removeSharedUser(email){
                var removeSharedUserMessage = "Are you sure to stop sharing the form to " + email + "?";
                var result = window.confirm(removeSharedUserMessage);

                if(!result){
                }else{
                    var data = {
                        userToRemove: email
                    };

                    $.ajax({
                        type: 'PUT',
                        url: '/AJAX_removeSharedUser',
                        data: data,
                        success: function(response){
                            if (response.status_code === 1){
                                alert("Error in removing the user.");
                            } else if (response.status_code === 0){
                                alert("You stopped sharing the file to " + email);

                                var updatedReadData = response.latestReadUsers;
                                var updatedWriteData = response.latestWriteUsers;

                                table11.clear().draw();

                                updatedReadData.forEach(function(user) {
                                    var curLine = [
                                        user.first_name + " " + user.last_name,
                                        user.email,
                                        "Read Only",
                                        `<a class="full-width-button w3-center all-caps" onclick="removeSharedUser('${user.email}')">Remove</a>`
                                    ];
                                    table11.row.add(curLine);
                                });

                                updatedWriteData.forEach(function(user) {
                                    var curLine = [
                                        user.first_name + " " + user.last_name,
                                        user.email,
                                        "Edit",
                                        `<a class="full-width-button w3-center all-caps" onclick="removeSharedUser('${user.email}')">Remove</a>`
                                    ];
                                    table11.row.add(curLine);
                                });

                                table11.draw();
                            }
                        },
                        error: function(error) {
                            console.log("AJAX Error: " + error);
                        }
                    });
                }
            }

        if (currentForm.allow_file_upload === false || currentUserDetailsBlock.empID != currentForm.form_owner)
        else
            .w3-row.w3-padding-16
                .w3-container.w3-card.w3-white.w3-round.w3-margin
                    .w3-row
                        h3.w3-bold File Management
                        hr
                        .w3-container
                            .w3-white.w3-round

                                table#filesTable.display(width='100%')
                                    thead
                                        tr
                                            th File Name
                                            th File Size
                                            th Uploaded By
                                            th Uploaded At
                                            th File Actions
                                    tbody
                                        each file in currentUserFiles
                                            tr
                                                td #{file.file_name}
                                                td #{file.file_size}
                                                td #{file.uploadedBy}
                                                td #{file.uploadedAt}
                                                td
                                                    a.w3-half.w3-hover-white.edit-btn(href='/downloadfile/' + file.file_name + '/' + file.uploadedBy)
                                                        i.fas.fa-download
                                                    if (currentUserDetailsBlock.empID != currentForm.form_owner)
                                                    else
                                                        a.w3-half.w3-hover-white(onclick=`showDeleteModal('${file.file_name}', '${file.uploadedBy}')`)
                                                            i.fa.fa-times.w3-text-theme

                        if (currentUserDetailsBlock.empID != currentForm.form_owner)
                        else
                            .w3-third
                                .w3-container2.w3-white.w3-round.w3-margin
                                    h1
                                        i.fa.fa-upload.w3-text-theme
                                        |   Upload Files
                                    hr
                                    form(action="/", method="POST", enctype="multipart/form-data" id="upload-form")
                                        .w3-row
                                            input.bottone5(type="file", name="file", id="file")
                                            br
                                            input.bottone5(type="submit", value="Upload")

    script(src='https://code.jquery.com/ui/1.13.2/jquery-ui.js')
    link(rel='stylesheet' href='//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css')
    link(rel='stylesheet' href='../css/text_editor.css')

    script(src="../js/client.functions/handle_ajax_upload.js")
    script(src="../js/client.functions/handle_ajax_delete.js")

    script.
        var table3 = $('#assignedUserTable').DataTable();

        var currentForm = !{JSON.stringify(initialTemplateForm)};
        var initialTemplateForm = !{JSON.stringify(initialTemplateForm)};
        var empEmails = !{JSON.stringify(retrievedUserEmails)};
        var receivedFormContent = currentForm.form_content;

        var enginePlaceHolder = document.getElementById('enginePlaceHolder');
        var formControlNumber = currentForm.form_control_number;

        enginePlaceHolder.innerHTML = receivedFormContent;


        $(function() {
            var allEmails = empEmails;
            $( "#employee_email" ).autocomplete({
                source: allEmails
            });
        });

        $(function() {
            var allEmails = empEmails;
            $( "#assign_user" ).autocomplete({
                source: allEmails
            });
        });

    script(src='/js/client.engine/htmlToJson.js')
    script(src='/js/client.functions/handle_ajax_save_filled_out_form.js')
    script(src='/js/client.functions/handle_ajax_share_form.js')
    script(src='/js/client.functions/handle_ajax_load_version.js')
    script(src='/js/client.form/form_create_view_edit.js')
    script(src='/js/client.functions/handle_ajax_general_modal.js')

    script(src='/js/client.functions/handle_ajax_approve_submitted_form.js')
    script(src='/js/client.functions/handle_ajax_assign_department.js')
    script(src='/js/client.functions/handle_ajax_remove_user.js')
    script(src='/js/client.functions/handle_ajax_render_prev_submitted_form.js')
    script(src='/js/client.functions/handle_ajax_render_submitted_form.js')
    script(src='/js/client.functions/handle_ajax_return_submitted_form.js')
    script(src='/js/client.functions/handle_ajax_set_due_date.js')
    script(src='/js/client.functions/handle_ajax_submit_form.js')
    script(src='/js/client.functions/handle_ajax_toggle_form_status.js')
    script(src='/js/client.functions/handle_ajax_validate_assigned_users.js')

    script.
        function addSecretaryRemarks(){
            var remarkMessage = document.getElementById('remarks').value;

            data = {
                remarkMessage : remarkMessage,
                formControlNumber : currentForm.form_control_number,
                formVersion : currentForm.form_version
            };

            $.ajax({
                type: 'PUT',
                url: '/AJAX_addSecretaryRemark',
                data: data,
                success: function(response){
                    if(response.status_code === 0){
                        alert("Remarks added.");
                    }else if(response.status_code === 1){
                        alert("There was no remark message.");
                    }
                },
                error: function(error){
                    alert("There was an error at AJAX Function adding secretary remarks.");
                    console.log("AJAX Error: " + error);
                }
            });
        }

    script.
        var table7 = $('#previouslySubmittedForms').DataTable();
        var table11 = $('#sharedPeopleTable').DataTable();
        var table10 = $('#submittedFormsTable').DataTable();
        var table9 = $('#submittedFormsTable').DataTable();

        var formDetailsActivateSetting = document.getElementById("formDetailsActivateSetting");
        var toggleActivateFormButton = document.getElementById("toggleActivateFormButton");

        formDetailsActivateSetting.innerHTML = currentForm.form_status;

        if(formDetailsActivateSetting.innerHTML == "Active" || formDetailsActivateSetting.innerHTML == "On-going"){
            toggleActivateFormButton.innerHTML = "De-activate";
        }else{
            toggleActivateFormButton.innerHTML = "Activate";
        }

        if(currentForm.form_status == "Published"){
            toggleActivateFormButton.innerHTML = "Activate";
        }else if(currentForm.form_status == "In-active"){
            toggleActivateFormButton.innerHTML = "Activate";
        }else if(currentForm.form_status == "Template"){
            toggleActivateFormButton.innerHTML = "Activate";
        }

    script.
        function mergeForm(){
            clearSelections();
            var inputFieldValuesJSON = iterateAndGetData();
            var formBody = document.getElementById('form-content');

            formBody = elementToJson(formBody,inputFieldValuesJSON);
            getNewKeyID(formBody);

            const data = {
                formControlNumber: currentForm.form_control_number,
                userVersion: document.getElementById('versionDropDown').value,
                formContent: formBody
            };

            $.ajax({
                type: 'PUT',
                url: '/AJAX_mergeForm',
                data: data,
                success: function(response) {
                    if (response.status_code === 0) {
                        mergedForm = response.mergedTemplate;
                        document.getElementById("enginePlaceHolder").innerHTML = mergedForm;

                        showGeneralSuccessModal("Successfully merged the form.");
                    } else if (response.status_code === 1){
                        showGeneralErrorModal("The template versions are the same. Merging is not possible.");
                    } else {
                        showGeneralErrorModal("There was an error in merging the form");
                    }
                },
                error: function(error) {
                    console.error('AJAX error:', error);
                }
            });
        }