extends formviewlayout.pug

block body
    #main.w3-main(style='margin-left:250px')
        .w3-row.w3-padding-64
            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                //#form-content.pages
                #theContainerOfTheForm

        .w3-row.w3-padding-64
            .w3-twothird.w3-container
                .w3-container2.w3-card.w3-white.w3-round.w3-margin
                    h1 Files
                    hr
                    table#filesTable.display(width='100%')
                        thead
                            tr
                                th File Name
                                th File Size
                                th Uploaded By
                                th Uploaded At
                                th File Actions
                        tbody
                            each file in currentUserFiles
                                tr
                                    td #{file.file_name}
                                    td #{file.file_size}
                                    td #{file.uploadedBy}
                                    td #{file.uploadedAt}
                                    td
                                        a.w3-half.w3-hover-white.edit-btn(href='/downloadfile/'+file.file_name)
                                            i.fa.fa-pencil.w3-text-theme
                                        a.w3-half.w3-hover-white(onclick=`showDeleteModal("${file.file_name}")`)
                                            i.fa.fa-times.w3-text-theme
                    #id01.w3-modal
                        .w3-modal-content
                            .w3-container
                                span.w3-button.w3-display-topright(onclick="document.getElementById('id01').style.display='none'") &times;
                                p Are you sure you want to delete this file?
                                p#selectedFileForDeletionPlaceholder
                                a(onclick=`deleteSelectedFile()`) Yes
                                a(onclick="closeModal()") No

            .w3-quarter.w3-container
                .w3-container2.w3-card.w3-white.w3-round.w3-margin
                    h1 Upload Files
                    hr
                    form(action="/", method="POST", enctype="multipart/form-data" id="upload-form")
                        input.bottone5(type="file", name="file", id="file")
                        input.bottone5(type="submit", value="Upload")

    script.
        var formBlock = !{JSON.stringify(currentForm)};
        var receivedFormContent = formBlock.form_content;
        var theContainerOfTheForm = document.getElementById('theContainerOfTheForm');
        theContainerOfTheForm.innerHTML = receivedFormContent;
