extends layout.pug

block body
    .w3-main#main(style='margin-left:250px')
        .w3-half.w3-container
        .w3-row.w3-padding-64
            .w3-quarter.w3-container
                .grow.shadowEffect.column(style='background-color:#65647C;')
                    .title
                        | Created Document
                    .count
                        | 40
            .w3-quarter.w3-container
                .grow.shadowEffect.column(style='background-color:#65647C;')
                    .title
                        | Deployed
                    .count
                            | 40
            .w3-quarter.w3-container
                .grow.shadowEffect.column(style='background-color:#65647C;')
                    .title
                        | Approved
                    .count
                        | 35
            .w3-quarter.w3-container
                .grow.shadowEffect.column(style='background-color:#65647C;')
                    .title
                        | Created Document
                    .count
                        | 40
            .w3-half.w3-container
                button#testShow.bottone5(onclick=`showStatusBar()`) show
                button#testHide.bottone5(onclick=`hideStatusBar()`) hide
                p this row will be removed once size transition is fixed
                .shadowEffect.w3-container.w3-card.w3-white.w3-round.w3-margin.round
                    br
                    |                     Notifications

                    hr.w3-clear
                    .row
                        | Machian shared Mia Khalifa&apos;s post
                    .row
                        | Alyanna commented on Jak Roberto&apos;s Page
                    .row
                        | Denmark shared Jaoao&apos;s Post
                    hr.w3-clear
                    .row
                    div(style='text-align:right; padding-bottom: 20px;')
                              a(href='#') view all


            .w3-half.w3-container
                .shadowEffect.w3-container.w3-card.w3-white.w3-round.w3-margin.round
                    button.bottone5(onclick=`showIdleModal()`) show modal
                    button.bottone5(onclick=`hideIdleModal()`) hide modal
                    br
                    |                    Chart goes here THIS WILL BE MOVED
                    hr.w3-clear
                    form(action="/", method="POST", enctype="multipart/form-data" id="upload-form")
                        input(type="file", name="file", id="file")
                        input.bottone5(type="submit", value="Upload")
                    br
            .w3-row.w3-container
                .shadowEffect.w3-container.w3-card.w3-white.w3-round.w3-margin.round
                    br
                    h4
                        | Recent Submissions
                    hr
                    table#filesTable.display(width='100%')
                        thead
                            tr
                                th File Name
                                th File Size
                                th Uploaded By
                                th Uploaded At
                                th File Actions
                        tbody
                            each file in currentUserFiles
                                tr
                                    td #{file.file_name}
                                    td #{file.file_size}
                                    td #{file.uploadedBy}
                                    td #{file.uploadedAt}
                                    td
                                        a.w3-half.w3-hover-white.edit-btn(href='/downloadfile/'+file.file_name)
                                            i.fa.fa-pencil.w3-text-theme
                                        a.w3-half.w3-hover-white(onclick=`showDeleteModal("${file.file_name}")`)
                                            i.fa.fa-times.w3-text-theme
                    #id01.w3-modal
                        .w3-modal-content
                            .w3-container
                                span.w3-button.w3-display-topright(onclick="document.getElementById('id01').style.display='none'") &times;
                                p Are you sure you want to delete this file?
                                p#selectedFileForDeletionPlaceholder
                                a(onclick=`deleteSelectedFile()`) Yes
                                a(onclick="closeModal()") No

    script.
        //------------------------------------------------------------------------
        //this block needs to be deployed everywhere
        //USED FOR RESEAT LOGIC
        var receivedUserDetailsBlock = !{JSON.stringify(currentUserDetailsBlock)};
        var reconID = receivedUserDetailsBlock.empID;
        //USED FOR IDLE LOGIC
        var min_handlingTime = #{min_idleTime};
        //console.log(min_handlingTime);
        //------------------------------------------------------------------------
    script(src="js/socket.io/socket.io.js")
    script(src="js/client.socket/handle_reconnect.js")
    script(src="js/client.navigation/handle_idle.js")
    script(src="js/client.navigation/handle_side_bar.js")
    script(src="js/client.functions/handle_ajax_upload.js")
    script(src="js/client.functions/handle_ajax_delete.js")




