extends layout.pug

block body
    .w3-main#main(style='margin-left:250px')
        .w3-half.w3-container
                    button#testShow(onclick=`showStatusBar()`) show
                    button#testHide(onclick=`hideStatusBar()`) hide
        .w3-row.w3-padding-64
            .w3-quarter.w3-container
                .grow.shadowEffect.column(style='background-color:#EC844B;')
                    .title
                        | Created Document
                    .count
                        | 40
            .w3-quarter.w3-container
                .grow.shadowEffect.column(style='background-color:#FDCF6F;')
                    .title
                        | Deployed
                    .count
                            | 40
            .w3-quarter.w3-container
                .grow.shadowEffect.column(style='background-color:#0D4990;')
                    .title
                        | Approved
                    .count
                        | 35
            .w3-quarter.w3-container
                .grow.shadowEffect.column(style='background-color:#C24040;')
                    .title
                        | Created Document
                    .count
                        | 40
            .w3-half.w3-container
                .shadowEffect.w3-container.w3-card.w3-white.w3-round.w3-margin.round
                    br
                    |                     Notifications

                    hr.w3-clear
                    .row
                        | Machian shared Mia Khalifa&apos;s post
                    .row
                        | Alyanna commented on Jak Roberto&apos;s Page
                    .row
                        | Denmark shared Jaoao&apos;s Post
                    hr.w3-clear
                    .row
                    div(style='text-align:right; padding-bottom: 20px;')
                              a(href='#') view all


            .w3-half.w3-container
                .shadowEffect.w3-container.w3-card.w3-white.w3-round.w3-margin.round
                    button(onclick=`showIdleModal()`) show modal
                    button(onclick=`hideIdleModal()`) hide modal
                    br
                    |                    Chart goes here THIS WILL BE MOVED
                    hr.w3-clear
                    form(action="/", method="POST", enctype="multipart/form-data" id="upload-form")
                        input(type="file", name="file", id="file")
                        input(type="submit", value="Upload")
                    br
            .w3-row.w3-container
                .shadowEffect.w3-container.w3-card.w3-white.w3-round.w3-margin.round
                    br
                    h4
                        | Recent Submissions
                    hr
                    table#example.display(width='100%')
                        thead
                            tr
                                th File Name
                                th File Size
                                th Uploaded By
                                th Uploaded At
                                th File Actions
                        tbody
                            each file in currentUserFiles
                                tr
                                    td #{file.file_name}
                                    td #{file.file_size}
                                    td #{file.uploadedBy}
                                    td #{file.uploadedAt}
                                    td
                                        a.w3-half.w3-hover-white.edit-btn(href='/downloadfile/'+file.file_name)
                                            i.fa.fa-pencil.w3-text-theme
                                        a.w3-half.w3-hover-white(onclick=`showModal("${file.file_name}")`)
                                            i.fa.fa-times.w3-text-theme
                    #id01.w3-modal
                        .w3-modal-content
                            .w3-container
                                span.w3-button.w3-display-topright(onclick="document.getElementById('id01').style.display='none'") &times;
                                p Are you sure you want to delete this file?
                                a(onclick=`middleMan()`) Yes
                                a(onclick="closeModal()") No


            script(src='js/sidebar.js')

            script.
                hideIdleModal();

                function logUserOff(){
                    window.location.replace("/logout");
                }

                var initialTimeOut = 60;

                function updateCountDownElement(){
                    var countDownPlaceholder = document.getElementById('countDownPlaceholder');
                    countDownPlaceholder.innerHTML = 'For your security, we will automatically log you out in ' + initialTimeOut + ' seconds.';

                    console.log("logging off in: " + initialTimeOut);
                    initialTimeOut = initialTimeOut - 1;
                    if(initialTimeOut == 0){
                        window.location.replace("/logout");
                    }
                }

                var countDownIntervalHolder;

                function countDown(){
                    countDownIntervalHolder = setInterval(updateCountDownElement, 1000);
                }

                function stopCountDown(){
                    clearInterval(countDownIntervalHolder);
                    initialTimeOut = 60;
                }

                function hideIdleModal(){
                    stopCountDown();
                    var idleModal = document.getElementById('idleModal');
                    idleModal.style.display = 'none';


                    let dialogoverlay = document.getElementById('dialogoverlay');
                    let dialogbox = document.getElementById('dialogbox');


                    dialogoverlay.style.display = "none";
                    dialogbox.style.display = "none";
                    document.getElementById('dialogboxhead').style.display = 'none';
                }

                function showIdleModal(){
                    var idleModal = document.getElementById('idleModal');
                    idleModal.style.display = 'block';

                    let dialogoverlay = document.getElementById('dialogoverlay');
                    let dialogbox = document.getElementById('dialogbox');

                    let winH = window.innerHeight;
                    dialogoverlay.style.height = winH+"px";
                    dialogbox.style.top = "100px";
                    dialogoverlay.style.display = "block";
                    dialogbox.style.display = "block";
                    document.getElementById('dialogboxhead').style.display = 'block';
                    countDown();
                }





                hideStatusBar();
                var selectedFileForDeletion;
                var currLineFileName;

                function showStatusBar(){
                    var pageStatusBar = document.getElementById('pageStatusBar');
                    pageStatusBar.style.display = 'block';

                    var mySidebar = document.getElementById('mySidebar');
                    mySidebar.style.top = '86px';
                }

                function hideStatusBar(){
                    var pageStatusBar = document.getElementById('pageStatusBar');
                    pageStatusBar.style.display = 'none';

                    var mySidebar = document.getElementById('mySidebar');
                    mySidebar.style.top = '43px';
                }

                function showModal(fileName) {
                    selectedFileForDeletion = fileName;
                    document.getElementById('id01').style.display = 'block';
                }

                function middleMan(){
                    deleteFile(selectedFileForDeletion);
                }

                function closeModal(){
                    document.getElementById('id01').style.display = 'none';
                }

                function deleteFile(fileName) {
                    var table = $('#example').DataTable();
                    // Add your AJAX logic to delete the file by fileName
                    $.ajax({
                        url: `/ajaxdelete/${fileName}`,
                        type: 'delete',
                        success: function(data) {
                            console.log('File deleted successfully!');
                            console.log(data.documents);

                                var updatedData = data.documents;
                                table.clear().draw();

                                for(i=0;i<updatedData.length;i++){
                                    console.log("found an object");
                                    currLineFileName = updatedData[i].file_name;
                                    var curLine = [
                                        updatedData[i].file_name,
                                        updatedData[i].file_size,
                                        updatedData[i].uploadedBy,
                                        updatedData[i].uploadedAt,

                                        `<a class="w3-half w3-hover-white edit-btn" href="/downloadfile/${updatedData[i].file_name}"><i class="fa fa-pencil w3-text-theme"></i></a>
                                        <a class="w3-half w3-hover-white" onclick="showModal('${updatedData[i].file_name}')"><i class="fa fa-times w3-text-theme"></i></a>`

                                    ];
                                    table.row.add(curLine).draw();
                                }
                                closeModal();
                        },
                        error: function(err) {
                            console.error('Error deleting file: ', err.responseText);
                        }
                    });
                }

                function myFunction(id) {
                    var x = document.getElementById(id);

                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                        x.previousElementSibling.className += " w3-theme-d1";
                    } else {
                        x.className = x.className.replace("w3-show", "");
                        //x.previousElementSibling.className =
                        x.previousElementSibling.className.replace(" w3-theme-d1", "");
                    }
                }

            script.
                $(document).ready(function() {
                var table = $('#example').DataTable();
                    $('#upload-form').on('submit', function(e) {
                        e.preventDefault();
                        const formData = new FormData(this);
                        $.ajax({
                            url: '/',
                            type: 'POST',
                            data: formData,
                            success: function(data) {
                                console.log('File uploaded successfully!');
                                console.log(data.documents);

                                    var updatedData = data.documents;
                                    table.clear().draw();

                                    for(i=0;i<updatedData.length;i++){
                                        console.log("found an object");

                                        var curLine = [
                                            updatedData[i].file_name,
                                            updatedData[i].file_size,
                                            updatedData[i].uploadedBy,
                                            updatedData[i].uploadedAt,

                                            `<a class="w3-half w3-hover-white edit-btn" href="/downloadfile/${updatedData[i].file_name}"><i class="fa fa-pencil w3-text-theme"></i></a>
                                            <a class="w3-half w3-hover-white" onclick="showModal('${updatedData[i].file_name}')"><i class="fa fa-times w3-text-theme"></i></a>`

                                        ];
                                        table.row.add(curLine).draw();
                                    }
                            },
                            error: function(err) {
                                console.error('Error uploading file: ', err.responseText);
                            },
                                cache: false,
                                contentType: false,
                                processData: false
                        });
                    });
                });




    footer#myFooter.w3-bottom
        .w3-container.w3-theme-l1
            h5(style='text-align:center; font-family: Acme; font-weight:lighter;') SLU IT Project Catalogues
            h6(style='text-align:center; font-family: Acme, monospace; font-weight:lighter;') &copy; 2023 All Rights Reserved

    script(src="/js/socket.io/socket.io.js")
    script(src="/js/client.socket/handle_reconnect.js")


    script.
        //socket script
        const socket = io();

        socket.on('connect', () => {
            console.log('Connected to WebSocket server');
            stopLoaderBar();
            stopReconnect();
            hideStatusBar();
            var manualPingData = !{JSON.stringify(currentUserDetailsBlock)};
            socket.emit('manualPing', manualPingData);
            reconnecting = false;
        });

        socket.on('manualPong',(response) =>{
            console.log('Received server response:', response);
        });

        var receivedUserDetailsBlock = !{JSON.stringify(currentUserDetailsBlock)};
        var reconID = receivedUserDetailsBlock.empID;

        var reconnectIntervalHolder;

        function initiateReconnect(){
            reconnectIntervalHolder = setInterval(attemptReconnectWrapper,3000);
        }

        function attemptReconnectWrapper(){
            attemptReconnect(reconID);
        }

        function stopReconnect(){
            clearInterval(reconnectIntervalHolder);
        }

        socket.on('disconnect', () => {
            //reconnecting = true;
            console.log('Disconnected from WebSocket server');
            showStatusBar();

            setTimeout(() => {
                initiateReconnect();
                socket.connect();
                initiateLoaderBar();
            }, 3000);
        });

        function attemptReconnect(reconID) {
            console.log("attempting to reconnect " + reconID);
            $.ajax({
                url: `/reseat/${reconID}`,
                type: 'put',
                success: function(data) {
                    console.log('Reseated session successfully!' + data);
                },
                error: function(err) {
                    console.error('Error reconnecting: ', err.responseText);
                            //window.location.replace("https://yourdomain.com/success");
                }
            });
        }



        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function openNavigation() {
            // Get the element by its ID
            const sidebar = document.getElementById("mySidebar");
            const main = document.getElementById("main");
            // Toggle the classes for showing/hiding the sidebar
            sidebar.classList.toggle("w3-show");
            // Toggle the margin of the main content
            main.style.marginLeft = "250px";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }




        //---idle user handling
        var idleTimeOut;
        var min_handlingTime = #{min_idleTime};
        console.log(min_handlingTime);

        function resetIdleTimeOut(){
            //prep to receive argument from config init - we define this every req res
            clearTimeout(idleTimeOut);
            idleTimeOut = setTimeout(alertIdle, min_handlingTime);
        }

        function alertIdle(){

            showIdleModal();
            //mag lalagay tayo nang function to call logout req res
            //papalitan natin to nang modal
            //modal will contain yes no i dont care
        }

        document.addEventListener("mousemove", resetIdleTimeOut);
        document.addEventListener("keydown", resetIdleTimeOut);

        resetIdleTimeOut();





