doctype html
head
    title #{title}
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='css/loginPages.css')
    link(rel='stylesheet' href='css/w3css4.css')
    link(rel='stylesheet' href='css/w3-theme.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')

    link(rel='stylesheet' href='css/clienthandling/loader.css')
    link(rel='stylesheet' href='css/clienthandling/notifications.css')
    script(src='https://code.jquery.com/jquery-3.7.0.js')
    script(src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js')
body
    .w3-top
        #pageStatusBar.w3-row
            .w3-bar.w3-amber.w3-small
                #loaderBarContainer
                    #statusBar
                        p DISCONNECTED - ATTEMPTING TO RECONNECT

        .w3-row
            .w3-bar.w3-theme.w3-left-align.w3-large
                a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hover-white.w3-large.w3-theme-l1(onclick='openNavigation()')
                    i.fa.fa-bars
                a.w3-bar-item.w3-button.w3-hover-white(href='/')
                    i.fa.fa-home.w3-margin-right
                    |   Home
                a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='/accountsettings')
                    i.fa.fa-user.w3-margin-right
                    |   Account Settings
                .w3-dropdown-hover.w3-hide-small
                    button.w3-button Notifications
                        i.fa.fa-caret-down
                    .w3-dropdown-content.w3-card-4.w3-bar-block
                        //vvv this gets populated by notifications block
                        #notifItem
                            .alert.alert-success.alert-white.rounded
                                .icon
                                    i.fa.fa-check
                                p(style='margin-left:50px;')
                                    | This is a success notification...
                                    | Delete this Notification
                                p(style='margin-left:50px;')
                                    strong Kasima Mendoza
                                    |  | October 8,2023
                                    a.w3-bar-item.w3-button View
                        #notifItem
                            .alert.alert-info.alert-white.rounded
                                .icon
                                    i.fa.fa-info-circle
                                p(style='margin-left:50px;')
                                    | This is an info notification...
                                    | Delete this Notification
                                p(style='margin-left:50px;')
                                    strong Kasima Mendoza
                                    |  | October 8,2023
                                    a.w3-bar-item.w3-button View
                        #notifItem
                            .alert.alert-warning.alert-white.rounded
                                .icon
                                    i.fa.fa-warning
                                p(style='margin-left:50px;')
                                    | This is a warning notification...
                                    | Delete this Notification
                                p(style='margin-left:50px;')
                                    strong Kasima Mendoza
                                    |  | October 8,2023
                                    a.w3-bar-item.w3-button View
                        #notifItem
                            .alert.alert-danger.alert-white.rounded
                                .icon
                                    i.fa.fa-times-circle
                                p(style='margin-left:50px;')
                                    | This is an error notification...
                                    | Delete this Notification
                                p(style='margin-left:50px;')
                                    strong Kasima Mendoza
                                    |  | October 8,2023
                                    a.w3-bar-item.w3-button View
                        hr
                        div(style='text-align:right; padding-bottom: 20px;')
                            a.w3-bar-item.w3-button(href='#') view all
                a.w3-bar-item.w3-button.w3-hide-small.w3-hide-medium.w3-hover-white(href='/logout')
                    img.w3-circle(src='../src/avatar3.png' style='height:23px;width:23px' alt='Avatar')
                    |  Logout
                a#userFirstNameNav.w3-bar-item.w3-hide-small.w3-hide-medium #{currentUserDetailsBlock.firstName}

    nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-theme-light.w3-animate-left
        div
            .w3-container
                h4#userFirstName.w3-center(style='font-family: Acme, monospace') #{currentUserDetailsBlock.firstName}
                p.w3-center
                    img.w3-circle(src='../src/avatar3.png' style='height:106px;width:106px' alt='Avatar')
                hr(style='border-top: 1px dashed black;')
                h6
                    i.fa.fa-info-circle.fa-fw.w3-margin-right.w3-text-theme
                    myelement #{currentUserDetailsBlock.empID}
                h6
                    i.fa.fa-user.fa-fw.w3-margin-right.w3-text-theme
                    myelement #{currentUserDetailsBlock.firstName} #{currentUserDetailsBlock.lastName}
                h6
                    i.fa.fa-briefcase.fa-fw.w3-margin-right.w3-text-theme
                    myelement #{currentUserDetailsBlock.userLevel}
                hr(style='border-top: 1px dashed black;')

        div
            div
                button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('Demo1')")
                    i.fa.fa-circle-o-notch.fa-fw.w3-margin-right
                    |  Form Management
                #Demo1.w3-hide.w3-container
                    #createTemplateElement
                        p
                            a(href='/createform')
                                i.fa.fa-plus-circle.w3-margin-right
                                | Create Forms
                        p
                            a(href='/createform')
                                i.fa.fa-plus-circle.w3-margin-right
                                | View Form Templates
                        p
                            a(href='/createform')
                                i.fa.fa-plus-circle.w3-margin-right
                                | View Active Forms
                    p
                        a(href='/viewforms')
                            i.fa.fa-file.w3-margin-right
                            | View Forms
                    p
                        a(href='/submission')
                            i.fa.fa-info.w3-margin-right
                            | Submission
                    #viewReportElement
                        p
                            a(href='/viewreports')
                                i.fa.fa-pie-chart.w3-margin-right
                                | View Reports
                button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('Demo2')")
                    i.fa.fa-calendar-check-o.fa-fw.w3-margin-right
                    |  Form Events
                #Demo2.w3-hide.w3-container
                    p
                        a(href='/managenotifications')
                            i.fa.fa-bell.w3-margin-right
                            | Set Form notifications
                    p
                        a(href='/managedeadlines')
                            i.fa.fa-calendar-check-o.w3-margin-right
                            | Set Form due dates
                #userManagementElement
                    button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('Demo3')")
                        i.fa.fa-users.fa-fw.w3-margin-right
                        |  User Management
                    #Demo3.w3-hide.w3-container
                        #addUserElement
                            p
                                a(href='/createusers')
                                    i.fa.fa-plus-circle.w3-margin-right
                                    | Create User
                        #editUserElement
                            p
                                a(href='/viewusers')
                                    i.fa.fa-users.w3-margin-right
                                    | View Users
            br
            a.w3-bar-item.w3-button.edit-name.w3-hover-black(href='#')
                i.bi.bi-pencil-square
                |  Edit Project Name
            a.w3-bar-item.w3-button.w3-hover-black(href='#')
                i.bi.bi-pencil-square
                |  Edit Abstract
            a.w3-bar-item.w3-button.w3-hover-black(href='/uploadfiles')
                i.bi.bi-file-arrow-up
                |  Upload Files
            a.w3-bar-item.w3-button.w3-hover-black(href='#')
                i.bi.bi-person-plus
                |  Add Authors
    #idleModal
        #dialogoverlay
        #dialogbox.slit-in-vertical
            #randomDiv
                #dialogboxhead
                    .i.fa.fa-exclamation-circle Something
                #dialogboxbody
                    p#countDownPlaceholder
                    p Are you still there?
            #dialogboxfoot
                button.pure-material-button-contained.active(onclick=`hideIdleModal()`) Keep me logged in
            #dialogboxfoot2
                button.pure-material-button-contained.active(onclick=`logUserOff()`) Log me out

block body

footer#myFooter.w3-bottom
    .w3-container.w3-theme-l1
        h5(style='text-align:center; font-family: Acme; font-weight:lighter;') SLU IT Project Catalogues
        h6(style='text-align:center; font-family: Acme, monospace; font-weight:lighter;') &copy; 2023 All Rights Reserved

script.
    var receivedUserPrivileges = !{JSON.stringify(currentUserPrivileges)};
script(src="js/client.navigation/set_features.js")