block sidebar
    .w3-top
        #pageStatusBar.w3-row
            .w3-bar.w3-amber.w3-small
                #loaderBarContainer
                    #statusBar
                        p DISCONNECTED - ATTEMPTING TO RECONNECT

        .w3-row
            .w3-bar.w3-theme.w3-left-align.w3-large
                a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hover-white.w3-large.w3-theme-l1(onclick='openNavigation()')
                    i.fa.fa-bars
                a.w3-bar-item.w3-button.w3-hover-white(href='#' onclick="showLeavePageModal('/',userCurrentPage)")
                    i.fa.fa-home.w3-margin-right
                    |   Home
                a.w3-bar-item.w3-button.w3-hover-white(href='#' onclick="showLeavePageModal('/accountsettings',userCurrentPage)")
                    i.fa.fa-user.w3-margin-right
                    |   Account Settings
                .w3-dropdown-hover.w3-hide-small
                    button.w3-button Notifications
                        i.fa.fa-caret-down
                    .w3-dropdown-content.w3-card-4.w3-bar-block
                        //vvv this gets populated by notifications block
                        #notifItem
                            script.
                                function fetchNotifications() {
                                    $.ajax({
                                        type: 'GET',
                                        url: '/AJAX_retrieveNotifications',
                                        success: function(response) {
                                            var currentUserNotifications = response.currentUserNotifications;
                                            var notificationsHtml = '';

                                            if (currentUserNotifications.length > 0) {
                                                currentUserNotifications.forEach(function(notification) {
                                                    notificationsHtml += `
                                                        <div class="alert alert-info alert-white rounded">
                                                            <div class="icon">
                                                                <i class="fa fa-info-circle"></i>
                                                            </div>
                                                            <p style="margin-left:50px;">${notification.message}</p>
                                                            <p style="margin-left:50px;">
                                                                <strong>${notification.sender_name}</strong> |
                                                                 ${notification.time_sent} | ${notification.date_sent}
                                                                <a class="w3-bar-item w3-button" href="#">View</a>
                                                            </p>
                                                        </div>
                                                    `;
                                                });
                                            } else {
                                                notificationsHtml = '<p style="margin-left:50px;"> You have no notifications </p>';
                                            }
                                            $('#notifItem').html(notificationsHtml);
                                        },
                                        error: function(error){
                                            alert('Error fetching notifications:', error);
                                        }
                                    });
                                }
                                fetchNotifications();
                                setInterval(fetchNotifications, 3000);
                        //hr
                        //div(style='text-align:right; padding-bottom: 20px;')
                        //    a.w3-bar-item.w3-button(href='#') view all
                a.w3-bar-item.w3-button.w3-hide-small.w3-hide-medium.w3-hover-white(href='#' onclick="showLeavePageModal('/logout')")
                    if (currentUserPicture && currentUserPicture.user_picture)
                        img.w3-circle(src=`${currentUserPicture.user_picture}` style='height:23px;width:23px' alt='Avatar')
                    else
                        img.w3-circle#sideBarImage(src='../src/avatar3.png' style='height:23px;width:23px' alt='Avatar')
                    |  Logout
                #userFirstNameNav.w3-bar-item.w3-hide-small.w3-hide-medium

    nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-theme-light.w3-animate-left
        div
            .w3-container
                //h4#userFirstName.w3-center.w3-serif #{currentUserDetailsBlock.firstName}
                p.w3-center
                    if (currentUserPicture && currentUserPicture.user_picture)
                        img.w3-circle#sideBarImage(src=`${currentUserPicture.user_picture}` style='height:106px;width:106px' alt='Avatar')
                    else
                        img.w3-circle#sideBarImage(src='../src/avatar3.png' style='height:106px;width:106px' alt='Avatar')
                hr(style='border-top: 1px dashed black;')
                h6
                    i.fa.fa-info-circle.fa-fw.w3-margin-right.w3-text-theme
                    myelement #{currentUserDetailsBlock.empID}
                h6
                    i.fa.fa-user.fa-fw.w3-margin-right.w3-text-theme
                    myelement #{currentUserDetailsBlock.firstName} #{currentUserDetailsBlock.lastName}
                h6
                    i.fa.fa-briefcase.fa-fw.w3-margin-right.w3-text-theme
                    myelement#userType #{currentUserDetailsBlock.userLevel}
                if (!currentUserDetailsBlock.userDepartment)
                else
                    h6
                        i.fa.fa-briefcase.fa-fw.w3-margin-right.w3-text-theme
                        myelement#userType #{currentUserDetailsBlock.userDepartment}
                hr(style='border-top: 1px dashed black;')


        div
            div
                button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('Demo1')")
                    i.fa.fa-circle-o-notch.fa-fw.w3-margin-right
                    |  Form Management
                #Demo1.w3-hide.w3-container
                    #createTemplateElement.w3-row
                        a(href='#' onclick="showLeavePageModal('/createform',userCurrentPage)").w3-button-text.w3-button
                            i.fa.fa-plus-circle.w3-margin-right
                            | Create Forms
                        a(href='#' onclick="showLeavePageModal('/createwidget',userCurrentPage)").w3-button-text.w3-button
                            i.fa.fa-plus-circle.w3-margin-right
                            | Create Widgets
                        a(href='#' onclick="showLeavePageModal('/viewformtemplates',userCurrentPage)").w3-button-text.w3-button
                            i.fa.fa-eye.w3-margin-right
                            | View Form Templates
                    a(href='#' onclick="showLeavePageModal('/viewforms',userCurrentPage)").w3-button
                        i.fa.fa-file.w3-margin-right
                        | View Forms

                #userManagementElement
                    button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('Demo3')")
                        i.fa.fa-users.fa-fw.w3-margin-right
                        |  User Management
                    #Demo3.w3-hide.w3-container
                        #addUserElement
                            a(href='#' onclick="showLeavePageModal('/createusers',userCurrentPage)").w3-button
                                i.fa.fa-plus-circle.w3-margin-right
                                | Create User
                        #editUserElement
                            a(href='#' onclick="showLeavePageModal('/viewusers',userCurrentPage)").w3-button
                                i.fa.fa-users.w3-margin-right
                                | View Users

    #idleModal
        #idleOverLay.dialogoverlay
        #idleDialogbox.dialogbox.slit-in-vertical
            #randomDiv
                .dialogboxhead
                    .i.fa.fa-exclamation-circle Something
                .dialogboxbody
                    p#countDownPlaceholder
                    p Are you still there?
            .dialogboxfoot
                button.pure-material-button-contained.active(onclick=`hideIdleModal()`) Keep me logged in
            .dialogboxfoot2
                button.pure-material-button-contained.active(onclick=`logUserOff()`) Log me out

    #confirmLeavePageModal
        #confirmLeavePageOverLay.dialogoverlay
        #confirmLeavePageDialogbox.dialogbox.slit-in-vertical
            #randomDiv
                .dialogboxhead
                    .i.fa.fa-exclamation-circle Confirm Form Saving
                .dialogboxbody
                    p Are you sure you want to leave this page?
                    p Leaving this page without saving would lose unsaved changes
            .dialogboxfoot
                button.pure-material-button-contained.active(onclick=`goToSelectedAnchor()`) Yes
            .dialogboxfoot2
                button.pure-material-button-contained.active(onclick=`hideLeavePageModal()`) No

    footer#myFooter.w3-bottom.w3-container.w3-theme-l1
        h5(style='text-align:center;') Team IntelliJent IT Project
        h6(style='text-align:center;') &copy; 2023 All Rights Reserved

    script.
        var userCurrentPage = !{JSON.stringify(userCurrentPage)};
        window.userLevel = !{JSON.stringify(currentUserDetailsBlock.userLevel)};
        var currentUserNotifications = !{JSON.stringify(currentUserNotifications)};