block sidebar
    .w3-top
        #pageStatusBar.w3-row
            .w3-bar.w3-amber.w3-small
                #loaderBarContainer
                    #statusBar
                        p DISCONNECTED - ATTEMPTING TO RECONNECT

        .w3-row
            .w3-bar.w3-theme.w3-left-align.w3-large
                a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hover-white.w3-large.w3-theme-l1(onclick='openNavigation()')
                    i.fa.fa-bars
                a.w3-bar-item.w3-button.w3-hover-white(href='/')
                    i.fa.fa-home.w3-margin-right
                    |   Home
                a.w3-bar-item.w3-button.w3-hover-white(href='/accountsettings')
                    i.fa.fa-user.w3-margin-right
                    |   Account Settings
                //.w3-dropdown-hover.w3-hide-small
                    button.w3-button Notifications
                        i.fa.fa-caret-down
                    .w3-dropdown-content.w3-card-4.w3-bar-block
                        //vvv this gets populated by notifications block
                        #notifItem
                            .alert.alert-success.alert-white.rounded
                                .icon
                                    i.fa.fa-check
                                p(style='margin-left:50px;')
                                    | This is a success notification...
                                    | Delete this Notification
                                p(style='margin-left:50px;')
                                    strong Kasima Mendoza
                                    |  | October 8,2023
                                    a.w3-bar-item.w3-button View
                        #notifItem
                            .alert.alert-info.alert-white.rounded
                                .icon
                                    i.fa.fa-info-circle
                                p(style='margin-left:50px;')
                                    | This is an info notification...
                                    | Delete this Notification
                                p(style='margin-left:50px;')
                                    strong Kasima Mendoza
                                    |  | October 8,2023
                                    a.w3-bar-item.w3-button View
                        #notifItem
                            .alert.alert-warning.alert-white.rounded
                                .icon
                                    i.fa.fa-warning
                                p(style='margin-left:50px;')
                                    | This is a warning notification...
                                    | Delete this Notification
                                p(style='margin-left:50px;')
                                    strong Kasima Mendoza
                                    |  | October 8,2023
                                    a.w3-bar-item.w3-button View
                        #notifItem
                            .alert.alert-danger.alert-white.rounded
                                .icon
                                    i.fa.fa-times-circle
                                p(style='margin-left:50px;')
                                    | This is an error notification...
                                    | Delete this Notification
                                p(style='margin-left:50px;')
                                    strong Kasima Mendoza
                                    |  | October 8,2023
                                    a.w3-bar-item.w3-button View
                        hr
                        div(style='text-align:right; padding-bottom: 20px;')
                            a.w3-bar-item.w3-button(href='#') view all
                a.w3-bar-item.w3-button.w3-hide-small.w3-hide-medium.w3-hover-white(href='/logout')
                    if (currentUserPicture && currentUserPicture.user_picture)
                        img.w3-circle(src=`${currentUserPicture.user_picture}` style='height:23px;width:23px' alt='Avatar')
                    else
                        img.w3-circle#sideBarImage(src='../src/avatar3.png' style='height:23px;width:23px' alt='Avatar')
                    |  Logout
                #userFirstNameNav.w3-bar-item.w3-hide-small.w3-hide-medium

    nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-theme-light.w3-animate-left
        div
            .w3-container
                //h4#userFirstName.w3-center.w3-serif #{currentUserDetailsBlock.firstName}
                p.w3-center
                    if (currentUserPicture && currentUserPicture.user_picture)
                        img.w3-circle#sideBarImage(src=`${currentUserPicture.user_picture}` style='height:106px;width:106px' alt='Avatar')
                    else
                        img.w3-circle#sideBarImage(src='../src/avatar3.png' style='height:106px;width:106px' alt='Avatar')
                hr(style='border-top: 1px dashed black;')
                h6
                    i.fa.fa-info-circle.fa-fw.w3-margin-right.w3-text-theme
                    myelement #{currentUserDetailsBlock.empID}
                h6
                    i.fa.fa-user.fa-fw.w3-margin-right.w3-text-theme
                    myelement #{currentUserDetailsBlock.firstName} #{currentUserDetailsBlock.lastName}
                h6
                    i.fa.fa-briefcase.fa-fw.w3-margin-right.w3-text-theme
                    myelement#userType #{currentUserDetailsBlock.userLevel}
                hr(style='border-top: 1px dashed black;')


        div
            div
                button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('Demo1')")
                    i.fa.fa-circle-o-notch.fa-fw.w3-margin-right
                    |  Form Management
                #Demo1.w3-hide.w3-container
                    #createTemplateElement.w3-row
                        .w3-button
                            a(href='/createform').w3-button-text
                                i.fa.fa-plus-circle.w3-margin-right
                                | Create Forms
                        .w3-button
                            a(href='/createwidget').w3-button-text
                                i.fa.fa-plus-circle.w3-margin-right
                                | Create Widgets
                        .w3-button
                            a(href='/viewformtemplates').w3-button-text
                                i.fa.fa-eye.w3-margin-right
                                | View Form Templates
                    .w3-button
                        a(href='/viewforms')
                            i.fa.fa-file.w3-margin-right
                            | View Forms

                #userManagementElement
                    button.w3-button.w3-block.w3-theme-dark.w3-left-align(onclick="toggleAccordion('Demo3')")
                        i.fa.fa-users.fa-fw.w3-margin-right
                        |  User Management
                    #Demo3.w3-hide.w3-container
                        #addUserElement
                            p
                                a(href='/createusers')
                                    i.fa.fa-plus-circle.w3-margin-right
                                    | Create User
                        #editUserElement
                            p
                                a(href='/viewusers')
                                    i.fa.fa-users.w3-margin-right
                                    | View Users

    #idleModal
        #idleOverLay.dialogoverlay
        #idleDialogbox.dialogbox.slit-in-vertical
            #randomDiv
                .dialogboxhead
                    .i.fa.fa-exclamation-circle Something
                .dialogboxbody
                    p#countDownPlaceholder
                    p Are you still there?
            .dialogboxfoot
                button.pure-material-button-contained.active(onclick=`hideIdleModal()`) Keep me logged in
            .dialogboxfoot2
                button.pure-material-button-contained.active(onclick=`logUserOff()`) Log me out

    footer#myFooter.w3-bottom.w3-container.w3-theme-l1
        h5(style='text-align:center;') Team IntelliJent IT Project
        h6(style='text-align:center;') &copy; 2023 All Rights Reserved

    script.
        window.userLevel = !{JSON.stringify(currentUserDetailsBlock.userLevel)};
        console.log("This is the user details block: " + userLevel);