extends layout.pug

block body
    .w3-main(style='margin-left:250px')
        .w3-row.w3-padding-64
            .w3-container.w3-card.w3-white.w3-round.w3-margin
                h4 Manage Users
                hr.w3-clear
                table#usersTable.display(width='100%')
                    thead
                        tr
                            th.w3-center Employee ID
                            th.w3-center First Name
                            th.w3-center Last Name
                            th.w3-center User Level
                            th.w3-center User Department
                            th.w3-center Remove User
                    tbody
                        each user in userAccounts
                            tr
                                td #{user.emp_id}
                                td #{user.first_name}
                                td #{user.last_name}
                                td #{user.user_level}
                                td.w3-center #{user.user_department ? user.user_department : 'N/A'}
                                td
                                    button.w3-button.w3-block.w3-theme-dark(onclick=`deleteUser('${user.emp_id}')`) Delete

    script.
        var table = $('#usersTable').DataTable();

        function deleteUser(empID){
            var deleteUserMessage = "Are you sure you want to delete user " + empID + " ?";
            var result = window.confirm(deleteUserMessage);

            if(!result){
            } else {
                var data = {
                    userToDelete : empID
                };

                $.ajax({
                    type: 'PUT',
                    url: '/AJAX_deleteUser',
                    data: data,
                    success: function(response){
                        if (response.status_code === 0) {
                            alert("Employee deleted " + empID);
                            var updatedData = response.latestEmployees;
                            table.clear().draw();

                            updatedData.forEach(function(user) {
                                var userDepartment = user.user_department ? user.user_department : 'N/A';
                                var curLine = [
                                    user.emp_id,
                                    user.first_name,
                                    user.last_name,
                                    user.user_level,
                                    userDepartment,
                                    `<button class="w3-button w3-block w3-theme-dark" onclick="deleteUser('${user.emp_id}')">Delete</button>`
                                ];
                                table.row.add(curLine);
                            });
                            table.draw();
                        } else if (response.status_code === 1){
                            alert("Could not find the user to remove!");
                        }
                    },
                    error: function(error){
                        console.log("AJAX Error: " + error);
                    }
                });
            }
        }

