extends layout.pug

block body
    .w3-main(style='margin-left:250px')
        .w3-row.w3-padding-32
            .w3-container.w3-white.w3-round.w3-margin
                h3.w3-bold.w3-center View Forms

        if (currentUserDetailsBlock.userLevel === "Secretary" || currentUserDetailsBlock.userLevel === "Super Admin" || currentUserDetailsBlock.userLevel === "Admin")
            .w3-row
                .w3-padding
                    .shadowEffect.w3-container.w3-white.w3-round.w3-margin
                        h3.w3-bold Published / Active / In-Active Forms
                        table#publishedFormsTable.display(width='100%')
                            thead
                                tr
                                    th.w3-center Form Name
                                    th.w3-center Status
                                    th.w3-center Date Created
                                    th.w3-center Time Created
                                    th.w3-center Version
                                    th.w3-center Action
                            tbody
                                each publishedForm in publishedForms
                                    tr
                                        td #{publishedForm.form_name}
                                        td #{publishedForm.form_status}
                                        td #{publishedForm.date_saved}
                                        td #{publishedForm.time_saved}
                                        td #{publishedForm.form_version}
                                        td
                                            .button-container.w3-row
                                            a.full-width-button.w3-center.all-caps(href=`/formview/${publishedForm.form_control_number}`) View Form

        if (currentUserDetailsBlock.userLevel === "Secretary" || currentUserDetailsBlock.userLevel === "Dean" || currentUserDetailsBlock.userLevel === "Super Admin")
            .w3-row
                .w3-padding
                    .shadowEffect.w3-container.w3-white.w3-round.w3-margin
                        h3.w3-bold Submitted Forms
                        table#submittedFormsTable.display(width='100%')
                            thead
                                tr
                                    th.w3-center Form Name
                                    th.w3-center Status
                                    th.w3-center Date Created
                                    th.w3-center Time Created
                                    th.w3-center Version
                                    th.w3-center Action
                            tbody
                                each submittedForm in submittedForms
                                    tr
                                        td #{submittedForm.form_name}
                                        td #{submittedForm.form_status}
                                        td #{submittedForm.date_saved}
                                        td #{submittedForm.time_saved}
                                        td #{submittedForm.form_version}
                                        td
                                            .button-container.w3-row
                                            a.full-width-button.w3-center.all-caps(href=`/formview/${submittedForm.form_control_number}`) View Form

        if (currentUserDetailsBlock.userLevel === "Department Head")
            .w3-row
                .w3-padding
                    .shadowEffect.w3-container.w3-white.w3-round.w3-margin
                        h3.w3-bold Submitted Forms
                        table#submittedFormsTable.display(width='100%')
                            thead
                                tr
                                    th.w3-center Form Name
                                    th.w3-center Status
                                    th.w3-center Date Created
                                    th.w3-center Time Created
                                    th.w3-center Version
                                    th.w3-center Action
                            tbody
                                each filteredForm in filteredForms
                                    tr
                                        td #{filteredForm.form_name}
                                        td #{filteredForm.form_status}
                                        td #{filteredForm.date_saved}
                                        td #{filteredForm.time_saved}
                                        td #{filteredForm.form_version}
                                        td
                                            .button-container.w3-row
                                            a.full-width-button.w3-center.all-caps(href=`/formview/${filteredForm.form_control_number}`) View Form

        if (currentUserDetailsBlock.userLevel === "Secretary" || currentUserDetailsBlock.userLevel === "Document Controller")
        else
            .w3-row
                .w3-padding
                    .shadowEffect.w3-container.w3-white.w3-round.w3-margin
                        h3.w3-bold Assigned Forms
                        table#assignedFormsTable.display(width='100%')
                            thead
                                tr
                                    th.w3-center Form Name
                                    th.w3-center Status
                                    th.w3-center Date Created
                                    th.w3-center Time Created
                                    th.w3-center Version
                                    th.w3-center Action
                            tbody
                                each assignedForm in assignedForms
                                    tr
                                        td #{assignedForm.form_name}
                                        td #{assignedForm.form_status}
                                        td #{assignedForm.date_saved}
                                        td #{assignedForm.time_saved}
                                        td #{assignedForm.form_version}
                                        td
                                            .button-container.w3-row
                                            a.full-width-button.w3-center.all-caps(href=`/formview/${assignedForm.form_control_number}`) View Form

                .w3-padding
                    .shadowEffect.w3-container.w3-white.w3-round.w3-margin
                        h3.w3-bold Shared Forms With You
                        table#sharedFormsTable.display(width='100%')
                            thead
                                tr
                                    th.w3-center Form Name
                                    th.w3-center Status
                                    th.w3-center Date Created
                                    th.w3-center Time Created
                                    th.w3-center Version
                                    th.w3-center Action
                            tbody
                                each sharedForm in sharedForms
                                    tr
                                        td #{sharedForm.form_name}
                                        td #{sharedForm.form_status}
                                        td #{sharedForm.date_saved}
                                        td #{sharedForm.time_saved}
                                        td #{sharedForm.form_version}
                                        td
                                            .button-container.w3-row
                                            a.full-width-button.w3-center.all-caps(onclick=`viewSharedForm("${String(sharedForm.form_control_number)}", "${String(sharedForm.form_owner)}")`) View Form
            br
            br
            br

    script.
        var table = $('#publishedFormsTable').DataTable();
        var table1 = $('#submittedFormsTable').DataTable();
        var table2 = $('#assignedFormsTable').DataTable();
        var table3 = $('#sharedFormsTable').DataTable();

    script.
        function viewSharedForm(formControlNumber, formOwner){
            var data = {
                formControlNumber : formControlNumber,
                formOwner : formOwner
            };

            $.ajax({
                type: 'PUT',
                url: '/AJAX_viewSharedForm',
                data: data,
                success: function(response){
                    if(response.status_code === 0){
                        window.location.href = '/sharedview';
                    } else if (response.status_code === 1){
                        alert("Shared form does not exist.");
                    }
                },
                error: function(error){
                    console.log("AJAX function error: " + error);
                }
            });
        }
















