extends layout.pug

block body
    .w3-main(style='margin-left:250px')
        .w3-row.w3-padding-64
            .w3-container.w3-white.w3-round.w3-margin
                h3.w3-bold View Templates
                table#formlist.display(width='100%')
                    thead
                        tr
                            th.w3-center Form Name
                            th.w3-center Status
                            th.w3-center Date Created
                            th.w3-center Time Created
                            th.w3-center Number of Versions
                            th.w3-center Action
                    tbody
                        each forms in currentForms
                            tr
                                td.w3-center #{forms.form_name}
                                if forms.published_status === true
                                    td.w3-center Published
                                else
                                    td.w3-center Template
                                td.w3-center #{forms.date_saved}
                                td.w3-center #{forms.time_saved}
                                td.w3-center #{forms.count}
                                td
                                    .button-container.w3-row
                                    a.full-width-button.w3-center.all-caps(href=`/viewformtemplate/${forms.form_control_number}`) View Form


    script.
        //USED FOR TABLE ON THIS PAGE
        var table = $('#formlist').DataTable();
