extends viewformtemplatelayout.pug

block body
    .w3-main#main(style='margin-left:250px')
        .w3-row.w3-padding-32
            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                .w3-row

                    h1.w3-center Form Name: #{currentForm.form_name}

                .w3-row
                    .w3-twothird.w3-container2
                        h2 Form Details
                        hr


                        .w3-half
                            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                                h3 Form Settings
                                hr
                                h4 Form Name: #{currentForm.form_name}
                                h4#settingsVersion Version : #{currentForm.form_version}
                                hr
                                if currentForm.shared_status === true
                                    h4#formDetailsSharingSetting Form Sharing : Allowed
                                else
                                    h4#formDetailsSharingSetting Form Sharing : Not Allowed
                                hr
                                h4#formDetailsStatusSetting Status : #{currentForm.form_status}
                                hr
                                if currentForm.allow_file_upload === true
                                    h4#formDetailsUploadSetting File Uploading : Allowed
                                else
                                    h4#formDetailsUploadSetting File Uploading : Not Allowed
                            //WHOEVER IS READING THIS -- THIS SECTION IS CURRENTLY UNDER DEVELOPMENT WHICH IS WHY IT IS HERE ATM. MOVE IT AND FACE THE WRATH OF DENMARK
                            script.
                                function dropDownUpdateCanvas(formControlNumber){
                                    var versionChoice = document.getElementById("versionDropDown").value;

                                    const data = {
                                        formControlNumber: formControlNumber,
                                        versionChoice: versionChoice
                                    };

                                    $.ajax({
                                        type: 'PUT',
                                        url: '/AJAX_viewFormVersion',
                                        data: data,
                                        success: function(response) {
                                            if (response.status_code === 0) {
                                                // modal success
                                                alert("Rendering the Chosen Version");
                                                document.getElementById("enginePlaceHolder").innerHTML = response.formContent;
                                                var formStatus = response.formStatus;
                                                var sharedStatus = response.sharedStatus;
                                                document.getElementById("settingsVersion").innerHTML = "Version : " + response.formVersion;


                                                if(sharedStatus == true){
                                                    document.getElementById("formDetailsSharingSetting").innerHTML = "Form Sharing : Allowed";
                                                } else {
                                                    document.getElementById("formDetailsSharingSetting").innerHTML = "Form Sharing : Not Allowed";
                                                }

                                                if(formStatus === "Template"){
                                                    document.getElementById("formDetailsStatusSetting").innerHTML = "Status : Template";
                                                    document.getElementById("togglePublishButton").innerHTML = "Publish Form";
                                                } else {
                                                    document.getElementById("formDetailsStatusSetting").innerHTML = "Status : Published";
                                                    document.getElementById("togglePublishButton").innerHTML = "Un-publish Form";
                                                }
                                            } else if (response.status_code === 1){
                                                // modal error
                                                alert("Error in Viewing Chosen Version");
                                            } else {
                                                // modal error
                                                alert("AJAX Error");
                                            }
                                        },
                                        error: function(error){
                                            console.error('AJAX Error: ', error);
                                        }
                                    });
                                }

                                function toggleSharing(){
                                    var toggleSharingButton = `#{currentForm.shared_status}`;
                                    var confirmationMessage;

                                    if(toggleSharingButton === true){
                                        confirmationMessage = "Are you sure to DISABLE sharing of this form?";
                                    }else{
                                        confirmationMessage = "Are you sure to ENABLE sharing of this form?";
                                    }

                                    var result = window.confirm(confirmationMessage);

                                    if(result){
                                        AJAX_shareStatus();
                                    }
                                }

                                function AJAX_shareStatus(){
                                    var toggleSharingButton = document.getElementById("toggleSharingButton");
                                    var formDetailsSharingSetting = document.getElementById("formDetailsSharingSetting");

                                    var data = {
                                        formControlNumber: formBlock.form_control_number
                                    };

                                    $.ajax({
                                        type:'PUT',
                                        url: '/AJAX_toggleSharing',
                                        data: data,
                                        success: function(response) {
                                            if(response.status_code === 0) {
                                                // modal success
                                                updatedStatus = response.updatedStatus;
                                                if(updatedStatus == "Allowed"){
                                                    toggleSharingButton.innerHTML = "Disable Form Sharing";
                                                    formDetailsSharingSetting.innerHTML = "Form Sharing : Allowed";
                                                }else{
                                                    toggleSharingButton.innerHTML = "Allow Form Sharing";
                                                    formDetailsSharingSetting.innerHTML = "Form Sharing : Not Allowed";
                                                }
                                            } else if(response.status_code === 1) {
                                                // modal error
                                                alert("There was an error updating the status");
                                            } else {
                                                alert(response.error);
                                            }
                                        },
                                        error: function(error){
                                            console.error('AJAX Error: ' + error);
                                        }
                                    });
                                }

                                function togglePublish(){
                                    var togglePublishButtonValue = `#{currentForm.form_status}`;
                                    var confirmationMessage;

                                    if(togglePublishButtonValue == "Published"){
                                        confirmationMessage = "Are you sure you want to un-publish this form?";
                                    }else{
                                        confirmationMessage = "Are you sure you want to publish this form?";
                                    }

                                    var result = window.confirm(confirmationMessage);

                                    if(result){
                                        AJAX_togglePublish();
                                    }
                                }

                                function toggleAllowFileUpload(){
                                    var toggleFileUploadButton = `#{currentForm.allow_file_upload}`;
                                    var confirmationMessage;

                                    if(toggleFileUploadButton === true){
                                        confirmationMessage = "Are you sure you want to UN-ALLOW file uploading in this form?";
                                    } else {
                                        confirmationMessage = "Are you sure you want to ALLOW file uploading in this form?";
                                    }

                                    var result = window.confirm(confirmationMessage);

                                    if(result) {
                                        AJAX_toggleFileUpload();
                                    }
                                }

                                function AJAX_toggleFileUpload(){
                                    var toggleFileUploadButton = document.getElementById("toggleFileUploadButton");
                                    var formDetailsUploadSetting = document.getElementById("formDetailsUploadSetting");

                                    var data = {
                                        formControlNumber: formBlock.form_control_number
                                    };

                                    $.ajax({
                                        type:'PUT',
                                        url: '/AJAX_toggleAllowFileUpload',
                                        data: data,
                                        success: function(response) {
                                            if(response.status_code === 0) {
                                                // modal success
                                                updatedStatus = response.updatedStatus;
                                                if(updatedStatus == "Allowed"){
                                                    toggleFileUploadButton.innerHTML = "Un-Allow File Uploading";
                                                    formDetailsUploadSetting.innerHTML = "File Uploading : Allowed";
                                                }else{
                                                    toggleFileUploadButton.innerHTML = "Allow File Uploading";
                                                    formDetailsUploadSetting.innerHTML = "File Uploading : Not Allowed";
                                                }
                                            } else if(response.status_code === 1) {
                                                // modal error
                                                alert("There was an error updating the status");
                                            } else {
                                                alert(response.error);
                                            }
                                        },
                                        error: function(error){
                                            console.error('AJAX Error: ' + error);
                                        }
                                    });
                                }

                                function AJAX_togglePublish(){
                                    var togglePublishButton = document.getElementById("togglePublishButton");
                                    var formDetailsStatusSetting = document.getElementById("formDetailsStatusSetting");
                                    var versionChoice = document.getElementById("versionDropDown").value;

                                    var data = {
                                        formControlNumber: formBlock.form_control_number,
                                        targetedVersion: versionChoice
                                    };

                                    $.ajax({
                                        type:'PUT',
                                        url: '/AJAX_togglePublish',
                                        data: data,
                                        success: function(response) {
                                            if(response.status_code === 0) {
                                                // modal success
                                                updatedStatus = response.updatedStatus;
                                                if(updatedStatus == "Published"){
                                                    togglePublishButton.innerHTML = "Un-publish Form";
                                                    formDetailsStatusSetting.innerHTML = "Status : Published";
                                                }else{
                                                    togglePublishButton.innerHTML = "Publish Form";
                                                    formDetailsStatusSetting.innerHTML = "Status : Template";
                                                }
                                            } else if(response.status_code === 1) {
                                                // modal error
                                                alert("There was an error updating the status");
                                            } else {
                                                alert(response.error);
                                            }
                                        },
                                        error: function(error){
                                            console.error('AJAX Error: ' + error);
                                        }
                                    });
                                }
                        .w3-half
                            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                                h2 Version History
                                hr
                                .w3-row
                                    select#versionDropDown(name='versionDropDown')
                                        each version in allVersions
                                            option #{version.form_version}
                                    hr
                                .w3-row
                                    br
                                    button.w3-button.w3-block.w3-theme-dark(onclick=`dropDownUpdateCanvas('${currentForm.form_control_number}')`)
                                        i.fa.fa-refresh.fa-fw.w3-margin-right
                                        |   Load Form

                    .w3-third.w3-container2
                        h2 Form Actions
                        hr
                        .w3-row
                            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                                .w3-row
                                    .w3-half
                                        button.w3-button.w3-block.w3-theme-dark(onclick='saveForm()')
                                            i.fa.fa-floppy-o.fa-fw.w3-margin-right
                                            |   Save Form
                                    .w3-half
                                        button.w3-button.w3-block.w3-theme-dark(onclick='downloadAsPDF()')
                                            i.fa.fa-download.fa-fw.w3-margin-right
                                            |   Download as PDF
                                .w3-row
                                    br
                                    if currentForm.shared_status === true
                                        button#toggleSharingButton.w3-button.w3-block.w3-theme-dark(onclick='toggleSharing()') Un-allow Sharing
                                    else
                                        button#toggleSharingButton.w3-button.w3-block.w3-theme-dark(onclick='toggleSharing()') Allow Sharing

                                    br
                                    if currentForm.form_status === "Template"
                                        button#togglePublishButton.w3-button.w3-block.w3-theme-dark(onclick='togglePublish()') Publish Form
                                    else
                                        button#togglePublishButton.w3-button.w3-block.w3-theme-dark(onclick='togglePublish()') Un-publish Form
                                    br
                                    if currentForm.allow_file_upload === true
                                        button#toggleFileUploadButton.w3-button.w3-block.w3-theme-dark(onclick='toggleAllowFileUpload()') Do Not Allow Upload File
                                    else
                                        button#toggleFileUploadButton.w3-button.w3-block.w3-theme-dark(onclick='toggleAllowFileUpload()') Allow Upload File


        .w3-row.w3-container2.w3-white.w3-round.w3-margin
            h4.w3-bold Edit Form
            input#formName.w3-col.s6.w3-input.w3-margin(placeholder="Edit Form Name" required='' value=`${currentForm.form_name}`)
            // input#formControlNumber.w3-col.s6.w3-input.w3-margin(placeholder="Type Form Control Number [Required]" required='')
            hr.w3-clear
            p.w3-center
            .w3-row.w3-container
                .grid-container.w3-white
                    //-.grid-item
                    //-  label(for='textBoxSelect') Text Box:
                    //-   select#textBoxSelect(onchange='createTextBox()')
                    //-       option(value='no-function') Click to Select
                    //-       option(value='normal-text') Normal Text
                    //-       option(value='title') Title
                     //-      option(value='paragraph') Subtitle
                    .grid-item
                        label(for='createPageMargin') Page Margin:
                        select#createPageMargin(onchange='createPageMargin()')
                            option(value='narrow') Narrow
                            option(value='normal') Normal
                            option(value='moderate') Moderate
                    .grid-item
                        label(for='modifyOrientation') Orientation:
                        select#modifyOrientation(onchange='modifyOrientation()')
                            option(value='portrait') Portrait
                            option(value='landscape') Landscape

                    .grid-item
                        label(for='fontSizeSelect') Font Size:
                        select#fontSizeSelect(onchange='changeFontSize()')
                            // Generate font size options using JavaScript
                            script.
                                for (let i = 1; i <= 100; i++) {
                                    document.write(`<option value="${i}">${i}</option>`);
                                }
                    .grid-item.borderless
                    .grid-item
                        label(for='colorSelect') Select Text Color:
                        select#colorSelect(onchange='changeTextColor()')
                            option(value='black') Black
                            option(value='white') White
                            option(value='red') Red
                            option(value='blue') Blue
                            option(value='grey') Grey
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeBold()')
                            i.fa.fa-bold.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeItalic()')
                            i.fa.fa-italic.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeUnderline()')
                            i.fa.fa-underline.icon-light
                    .grid-item.borderless
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignLeft()')
                            i.fa.fa-align-left.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignRight()')
                            i.fa.fa-align-right.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignCenter()')
                            i.fa.fa-align-center.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignJustify()')
                            i.fa.fa-align-justify.icon-light
                    .grid-item.borderless
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onClick='makeUnorderedList()')
                            i.fa.fa-list-ul.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onClick='makeOrderedList()')
                            i.fa.fa-list-ol.icon-light


            .w3-row.w3-container
                .w3-twothird.w3-container
                    #enginePlaceHolder
                    //#form-content.pages


                .w3-third
                    .page-container.w3-container.w3-white
                        //LEI -- REFER TO createform_draggable_content FOR FUTURE REVISIONS
                        include dragbar

    script(src='../js/client.engine/htmlToJson.js')
    script.
        function saveForm(){
            var inputFieldValuesJSON = iterateAndGetData();
            //var formBody = document.getElementById('form-content').innerHTML;
            var formBody = document.getElementById('form-content');

            formBody = elementToJson(formBody,inputFieldValuesJSON);
            getNewKeyID(formBody);

            var formName = document.getElementById('formName').value;
            // var formControlNumber = document.getElementById('formControlNumber').value;
            var formControlNumber = `#{currentForm.form_control_number}`;
            var sharedStatus = document.getElementById('formDetailsSharingSetting').innerHTML;
            var fileUploadStatus = document.getElementById('formDetailsUploadSetting').innerHTML;
            if(fileUploadStatus == 'File Uploading : Allowed'){
                fileUploadStatus = true;
            } else {
                fileUploadStatus = false;
            }

            if(sharedStatus == 'Form Sharing : Not Allowed'){
                sharedStatus = false;
            } else {
                sharedStatus = true;
            }

            const data = {
                name: formName,
                formControlNumber: formControlNumber,
                formContent: formBody,
                formStatus: "Template",
                sharedStatus: sharedStatus,
                fileUploadStatus: fileUploadStatus,
                dueDate: formBlock.due_date,
                quarterDueDate: formBlock.quarter_due_date,
                annualDueDate: formBlock.annual_due_date,
                academicYear: formBlock.academic_year,
                semester: formBlock.semester
            };

            $.ajax({
                type: 'POST',
                url: '/saveformversion',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (data) {
                    if (data.success) {
                        window.location.href = '/';
                    } else if (data.status_code === 1) {
                        alert("Form name already exists. Proceed to view form templates to edit the form instead!");
                    } else {
                        alert("Error in AJAX function.");
                    }
                },
                error: function (error) {
                    console.error('AJAX error:', error);
                }
            });
        }

        //end of play playground

    script.
        // Not working, to be debugged
        function restrictCheckBoxSelection() {
        const checkboxes = document.querySelectorAll('input[name="academicStatus"]');
        console.log(checkboxes);
            console
            // Add a change event listener to each checkbox
            checkboxes.forEach((checkbox) => {
                checkbox.addEventListener('change', function () {
                    // Uncheck all other checkboxes in the group
                    checkboxes.forEach((otherCheckbox) => {
                        if (otherCheckbox !== this) {
                            otherCheckbox.checked = false;
                        }
                    });
                });
            });
        }

        restrictCheckBoxSelection();

        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function openNavigation() {
            // Get the element by its ID
            const sidebar = document.getElementById("mySidebar");
            const main = document.getElementById("main");
            // Toggle the classes for showing/hiding the sidebar
            sidebar.classList.toggle("w3-show");
            // Toggle the margin of the main content
            main.style.marginLeft = "250px";
            }
        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }


    link(rel='stylesheet' href='../css/text_editor.css')
    link(rel='stylesheet' href='../css/create_form_style.css')

    script.
        var formBlock = !{JSON.stringify(currentForm)};
        var receivedFormContent = formBlock.form_content;
        var enginePlaceHolder = document.getElementById('enginePlaceHolder');
        enginePlaceHolder.innerHTML = receivedFormContent;

    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js')
    script(src='https://html2canvas.hertzen.com/dist/html2canvas.js')
    //script(src='../js/viewform.js')
    script(src='/js/client.form/form_create_view_edit.js')


