extends layout.pug

block body
    .w3-main(style='margin-left:250px')
        .w3-row.w3-padding-64
            .w3-container.w3-white.w3-round.w3-margin
                h4 View Forms
                hr.w3-clear
                each forms in currentForms
                    .w3-third.w3-container
                        .shadowEffect.w3-container.w3-card.w3-white.w3-round.w3-margin.round.w3-padding
                            h3  #{forms.form_name}
                            hr.w3-clear
                            p
                                b  Status:
                                if (!forms.form_status)
                                    |  N/A
                                else
                                    |  #{forms.form_status}
                            p
                                b  Date Created:
                                if (!forms.form_status)
                                    |  N/A
                                else
                                    |  #{forms.date_created}
                            p
                                b  Last Edited:
                                if (!forms.last_edited)
                                    |  N/A
                                else
                                    |  #{forms.last_edited}
                            p
                                b  Version:
                                if (!forms.form_version)
                                    |  N/A
                                else
                                    |  #{forms.form_version}
                            a(href=`/viewformtemplate/${forms.form_control_number}`) View Form
