doctype html
head
    title #{title}
    meta(charset='UTF-8')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='css/base_style.css')
    link(rel='stylesheet' href='css/w3css4.css')
    link(rel='stylesheet' href='css/w3-theme.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css')

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js')
    script(src='js/table.js')
    script(src='js/sidebar.js')

    style.
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
        .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
        }


.w3-top
    .w3-bar.w3-theme.w3-top.w3-left-align.w3-large
        a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hover-white.w3-large.w3-theme-l1(onclick='openNavigation()')            i.fa.fa-bars
            i.fa.fa-bars
        a.w3-bar-item.w3-button.w3-hover-white(href='/')
            i.fa.fa-home.w3-margin-right
            |   Home
        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='')
            i.fa.fa-user.icon-dark
            |   Account Settings
        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(href='')
            i.fa.fa-bell.icon-dark
            span.w3-badge.w3-right.w3-small.w3-green 3
            |   Notifications
        a.w3-bar-item.w3-button.w3-hide-small.w3-hide-medium.w3-hover-white(href='/logout')
            img.w3-circle(src='src/avatar2.png' style='height:23px;width:23px' alt='Avatar')
            |  Logout
        a#userFirstNameNav.w3-bar-item.w3-hide-small.w3-hide-medium #{userDetailsBlock.firstName}

nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-large.w3-theme.w3-animate-left
    .w3-card.w3-round.w3-white
        .w3-container
            h4#userFirstName.w3-center #{userDetailsBlock.firstName}
            p.w3-center
                img.w3-circle(src='src/avatar3.png' style='height:106px;width:106px' alt='Avatar')
            hr
            h6
                i.fa.fa-info-circle.fa-fw.w3-margin-right.w3-text-theme
                |
                myElement #{userDetailsBlock.empID}
            h6
                i.fa.fa-user.fa-fw.w3-margin-right.w3-text-theme
                |
                myElement #{userDetailsBlock.firstName} #{userDetailsBlock.lastName}
            h6
                i.fa.fa-briefcase.fa-fw.w3-margin-right.w3-text-theme
                |
                myElement #{userDetailsBlock.userLevel}

    .w3-card.w3-round
        .w3-white
            button.w3-button.w3-block.light-mode.w3-left-align(onclick="myFunction('Demo1')")
                i.fa.fa-circle-o-notch.fa-fw.w3-margin-right
                |  Form Management
            #Demo1.w3-hide.w3-container
                p
                    a(href='/createform')
                        i.fa.fa-plus-circle.w3-margin-right
                        | Create Forms
                p
                    a(href='/viewforms')
                        i.fa.fa-file-o.w3-margin-right
                        | View Forms
                p
                    a(href='/submission')
                        i.fa.fa-info.w3-margin-right
                        | Submission
                p
                    a(href='/viewreports')
                        i.fa.fa-pie-chart.w3-margin-right
                        | View Reports
            button.w3-button.w3-block.light-mode.w3-left-align(onclick="myFunction('Demo2')")
                i.fa.fa-calendar-check-o.fa-fw.w3-margin-right
                |  Form Events
            #Demo2.w3-hide.w3-container
                p
                    a(href='/managenotifications')
                        i.fa.fa-bell-o.w3-margin-right
                        | Set Form notifications
                p
                    a(href='/managedeadlines')
                        i.fa.fa-calendar-check-o.w3-margin-right
                        | Set Form due dates
            button.w3-button.w3-block.light-mode.w3-left-align(onclick="myFunction('Demo3')")
                i.fa.fa-users.fa-fw.w3-margin-right
                |  User Management
            #Demo3.w3-hide.w3-container
                p
                    a(href='/createusers')
                        i.fa.fa-plus-circle.w3-margin-right
                        | Create User
                p
                    a(href='/viewusers')
                        i.fa.fa-users.w3-margin-right
                        | View Users

        a.w3-bar-item.w3-button.edit-name.w3-hover-black(href='#')
                i.bi.bi-pencil-square
                |  Edit Project Name
        a.w3-bar-item.w3-button.w3-hover-black(href='#')
                i.bi.bi-pencil-square
                |  Edit Abstract
        a.w3-bar-item.w3-button.w3-hover-black(href='/uploadfiles')
                i.bi.bi-file-arrow-up
                |  Upload Files
        a.w3-bar-item.w3-button.w3-hover-black(href='#')
                i.bi.bi-person-plus
                |  Add Authors

.w3-main(style='margin-left:250px')
    .w3-row.w3-padding-64
        .w3-container.w3-card.w3-white.w3-round.w3-margin
            h4 Manage Users
            hr.w3-clear
            table#data_table.table.dataTable
                thead
                    tr
                        th Employee ID
                        th First Name
                        th Last Name
                        th User Level
                        th Actions
                tbody
                    each user in users
                        tr
                            td #{user.emp_id}
                            td #{user.first_name}
                            td #{user.last_name}
                            td #{user.user_level}
                            td
                                a.w3-quarter.w3-hover-white(href='#')
                                    i.fa.fa-pencil.w3-text-theme
                                a.w3-quarter.w3-hover-white(href='#')
                                    i.fa.fa-times.w3-text-theme
            br

        script.
            function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
            } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
            x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
            }

        script(type='text/javascript').
            $(document).ready(function() {
            $('#table').DataTable();
            } );

        script(type='text/javascript').
            $(document).ready(function(){
            //bi-trash
            //$('.btn_remove').on('click', function(){
            //delete file modal
            $('.bi-trash').on('click', function(){
            var store_id = $(this).attr('id');
            $("#modal_remove").modal('show');
            $('#btn_yes').attr('name', store_id);
            });
            $('.edit-name').on('click', function(){
            $("#modal_rename").modal('show');
            });
            $('#btn_yes').on('click', function(){
            var id = $(this).attr('name');
            $.ajax({
            type: "POST",
            url: "deletefile.php",
            data:{
            store_id: id
            },
            success: function(data){
            $("#modal_remove").modal('hide');
            $(".del_file" + id).empty();
            $(".del_file" + id).html("<td colspan='4'><center class='text-danger'>Deleting...</center></td>");
            setTimeout(function(){
            $(".del_file" + id).fadeOut('slow');
            }, 1000);
            }
            });
            });
            });


footer#myFooter
    .w3-container.w3-theme-l1
        p
            center SLU IT Projects Catalogue

script.
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNavigation() {
        // Get the element by its ID
        const sidebar = document.getElementById("mySidebar");
        const main = document.getElementById("main");
        // Toggle the classes for showing/hiding the sidebar
        sidebar.classList.toggle("w3-show");
        // Toggle the margin of the main content
        main.style.marginLeft = "250px";
        }
    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
