extends layout.pug

block body
    .w3-main(style='margin-left:250px')
        .w3-row.w3-padding-64
            .w3-container.w3-white.w3-round.w3-margin
                h3.w3-bold View Forms
                table#formlist.display(widgth='100%')
                    thead
                        tr
                            th.w3-center Form Name
                            th.w3-center Status
                            th.w3-center Date Created
                            th.w3-center Time Created
                            th.w3-center Version
                            th.w3-center Action
                    tbody
                        each forms in currentForms
                            tr
                                td #{forms.form_name}
                                td #{forms.form_status}
                                td #{forms.date_saved}
                                td #{forms.time_saved}
                                td #{forms.form_version}
                                td
                                    .button-container.w3-row
                                    a.full-width-button.w3-center.all-caps(href=`/viewformtemplate/${forms.form_control_number}`) View Form


    script.
        //USED FOR TABLE ON THIS PAGE
        var table = $('#formlist').DataTable();
