doctype html
head
    title #{title}
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='../css/loginPages.css')
    link(rel='stylesheet' href='../css/w3css4.css')
    link(rel='stylesheet' href='../css/w3-theme.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')

    link(rel='stylesheet' href='../css/clienthandling/loader.css')
    link(rel='stylesheet' href='../css/clienthandling/notifications.css')
    script(src='https://code.jquery.com/jquery-3.7.0.js')
    script(src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js')
body
include sidebar.pug
block body


script.
    var receivedUserPrivileges = !{JSON.stringify(currentUserPrivileges)};
    var receivedUserDetailsBlock = !{JSON.stringify(currentUserDetailsBlock)};
    var reconID = receivedUserDetailsBlock.empID;
    var min_handlingTime = #{min_idleTime};

script(src="../js/client.navigation/set_features.js")
script(src="../js/socket.io/socket.io.js")
script(src="../js/client.socket/handle_reconnect.js")
script.
    function fetchNotifications() {
        $.ajax({
            type: 'GET',
            url: '/AJAX_retrieveNotifications',
            success: function(response) {
                var currentUserNotifications = response.currentUserNotifications;
                var unseenNotificationCount = 0;
                var notificationsHtml = '';
                for (var i = 0; i < currentUserNotifications.length; i++) {
                    if (currentUserNotifications[i].status === "Unseen") {
                        unseenNotificationCount++;
                    }
                }

                if (currentUserNotifications.length > 0) {
                    currentUserNotifications.forEach(function(notification) {
                        if (notification.status == "Unseen"){
                            notificationsHtml += `
                                <div class="alert alert-info alert-white rounded">
                                    <div class="icon">
                                        <i class="fa fa-info-circle"></i>
                                    </div>
                                    <p style="margin-left:50px;">${notification.message}</p>
                                    <p style="margin-left:50px;">
                                        <strong>${notification.sender_name}</strong> |
                                         ${notification.time_sent} | ${notification.date_sent}
                                    </p>
                                </div>
                            `;
                        } else {
                            notificationsHtml += `
                                <div class="alert alert-success alert-white rounded">
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <p style="margin-left:50px;">${notification.message}</p>
                                    <p style="margin-left:50px;">
                                        <strong>${notification.sender_name}</strong> |
                                         ${notification.time_sent} | ${notification.date_sent}
                                    </p>
                                </div>
                            `;
                        }

                    });
                } else {
                    notificationsHtml = `<div class="alert alert-success alert-white rounded">
                                            <div class="icon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        <p style="margin-left:50px;"> You have no notifications </p>
                                        <p style="margin-left:50px;"></p>
                                        </div>`;
                }
                $('#unseenNotificationCount').text(unseenNotificationCount);
                $('#notifItem').html(notificationsHtml);
            },
            error: function(error){
                alert('Error fetching notifications:', error);
            }
        });
    }
    fetchNotifications();

    if (!clientConnectionStatus){
    } else {
        setInterval(fetchNotifications, 3000);
    }

script(src="../js/client.navigation/handle_idle.js")
script(src="../js/client.navigation/handle_side_bar.js")
script(src='../js/client.navigation/handle_anchors.js')