extends viewformtemplatelayout.pug

block body
    .w3-main#main(style='margin-left:250px')
        .w3-row.w3-padding-32
            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                .w3-row
                    h1.w3-center Form Name: #{currentForm.form_name}

                .w3-row
                    .w3-twothird.w3-container2
                        h2 Form Details
                        hr
                        .w3-half
                            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                                h2 Version History
                                .w3-row
                                    select#versionDropDown(name='versionDropDown')
                                        option(value='1') Version 1
                                        option(value='2') Version 2
                                .w3-row
                                    br
                                    button.w3-button.w3-block.w3-theme-dark(onclick='dropDownUpdateCanvas()')
                                        i.fa.fa-refresh.fa-fw.w3-margin-right
                                        |   Load Form

                        .w3-half
                            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                                h3 Form Settings
                                h4 Sharing : Enabled

                            script.
                                function toggleSharing(){
                                    var toggleSharingButton = document.getElementById("toggleSharingButton");
                                    var toggleSharingButtonValue = document.getElementById("toggleSharingButton").innerHTML;
                                    var sharingConfirmationMessage;

                                    if(toggleSharingButtonValue == "Allow Sharing"){
                                        sharingConfirmationMessage = "Form currently allows sharing, are you sure you want to disable it?";
                                    }else{
                                        sharingConfirmationMessage = "Form currently declines sharing, are you sure you want to enable it?";
                                    }

                                    var result = window.confirm(sharingConfirmationMessage);

                                    if(result){
                                        if(toggleSharingButtonValue == "Allow Sharing"){
                                            toggleSharingButton.innerHTML = "Disable Sharing";
                                        }else{
                                            toggleSharingButton.innerHTML = "Allow Sharing";
                                        }
                                    }
                                }


                    .w3-third.w3-container2
                        h2 Form Actions
                        hr
                        .w3-row
                            .w3-container2.w3-card.w3-white.w3-round.w3-margin
                                .w3-row
                                    button.w3-button.w3-block.w3-theme-dark(onclick='saveForm()')
                                        i.fa.fa-floppy-o.fa-fw.w3-margin-right
                                        |   Save Form
                                    br
                                    button.w3-button.w3-block.w3-theme-dark(onclick='downloadAsPDF()')
                                        i.fa.fa-download.fa-fw.w3-margin-right
                                        |   Download as PDF
                                    br
                                    button.w3-button.w3-block.w3-theme-dark(onclick='publishForm()')
                                        i.fa.fa-check.fa-fw.w3-margin-right
                                        |   Publish Form
                                    br
                                    button.w3-button.w3-block.w3-theme-dark(onclick='publishForm()')
                                        i.fa.fa-ban.fa-fw.w3-margin-right
                                        |   Un-publish Form
                                    br
                                    button#toggleSharingButton.w3-button.w3-block.w3-theme-dark(onclick='toggleSharing()') Allow Sharing


        .w3-row.w3-container2.w3-white.w3-round.w3-margin
            h4.w3-bold Edit Form
            input#formName.w3-col.s6.w3-input.w3-margin(placeholder="Edit Form Name" required='' value=`${currentForm.form_name}`)
            // input#formControlNumber.w3-col.s6.w3-input.w3-margin(placeholder="Type Form Control Number [Required]" required='')
            hr.w3-clear
            p.w3-center
            .w3-row.w3-container
                .grid-container.w3-white
                    //-.grid-item
                    //-  label(for='textBoxSelect') Text Box:
                    //-   select#textBoxSelect(onchange='createTextBox()')
                    //-       option(value='no-function') Click to Select
                    //-       option(value='normal-text') Normal Text
                    //-       option(value='title') Title
                     //-      option(value='paragraph') Subtitle
                    .grid-item
                        label(for='createPageMargin') Page Margin:
                        select#createPageMargin(onchange='createPageMargin()')
                            option(value='narrow') Narrow
                            option(value='normal') Normal
                            option(value='moderate') Moderate
                    .grid-item
                        label(for='modifyOrientation') Orientation:
                        select#modifyOrientation(onchange='modifyOrientation()')
                            option(value='portrait') Portrait
                            option(value='landscape') Landscape

                    .grid-item
                        label(for='fontSizeSelect') Font Size:
                        select#fontSizeSelect(onchange='changeFontSize()')
                            // Generate font size options using JavaScript
                            script.
                                for (let i = 1; i <= 100; i++) {
                                    document.write(`<option value="${i}">${i}</option>`);
                                }
                    .grid-item.borderless
                    .grid-item
                        label(for='colorSelect') Select Text Color:
                        select#colorSelect(onchange='changeTextColor()')
                            option(value='black') Black
                            option(value='white') White
                            option(value='red') Red
                            option(value='blue') Blue
                            option(value='grey') Grey
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeBold()')
                            i.fa.fa-bold.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeItalic()')
                            i.fa.fa-italic.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeUnderline()')
                            i.fa.fa-underline.icon-light
                    .grid-item.borderless
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignLeft()')
                            i.fa.fa-align-left.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignRight()')
                            i.fa.fa-align-right.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignCenter()')
                            i.fa.fa-align-center.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onclick='makeAlignJustify()')
                            i.fa.fa-align-justify.icon-light
                    .grid-item.borderless
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onClick='makeUnorderedList()')
                            i.fa.fa-list-ul.icon-light
                    .grid-item
                        a.w3-bar-item.w3-button.w3-hide-small.w3-hover-white(onClick='makeOrderedList()')
                            i.fa.fa-list-ol.icon-light


            .w3-row.w3-container
                .w3-twothird.w3-container
                    #form-content.pages


                .w3-third
                    .page-container.w3-container.w3-white
                        //LEI -- REFER TO createform_draggable_content FOR FUTURE REVISIONS
                        include dragbar

    script.
        function saveForm(){
            var formBody = document.getElementById('form-content').innerHTML;
            var formName = document.getElementById('formName').value;
            // var formControlNumber = document.getElementById('formControlNumber').value;
            var formControlNumber = `#{currentForm.form_control_number}`;

            const data = {
                name: formName,
                formControlNumber: formControlNumber,
                formContent: formBody,
                formStatus: "Template"
            };

            $.ajax({
                type: 'POST',
                url: '/saveformversion',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (data) {
                    if (data.success) {
                        window.location.href = '/';
                    } else if (data.status_code === 1) {
                        alert("Form name already exists. Proceed to view form templates to edit the form instead!");
                    } else {
                        alert("Error in AJAX function.");
                    }
                },
                error: function (error) {
                    console.error('AJAX error:', error);
                }
            });
        }

        //end of play playground

    script.
        // Not working, to be debugged
        function restrictCheckBoxSelection() {
        const checkboxes = document.querySelectorAll('input[name="academicStatus"]');
        console.log(checkboxes);
            console
          // Add a change event listener to each checkbox
                    checkboxes.forEach((checkbox) => {
                        checkbox.addEventListener('change', function () {
                            // Uncheck all other checkboxes in the group
                            checkboxes.forEach((otherCheckbox) => {
                                if (otherCheckbox !== this) {
                                    otherCheckbox.checked = false;
                                }
                            });
                        });
                    });
        }

        restrictCheckBoxSelection();

        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function openNavigation() {
            // Get the element by its ID
            const sidebar = document.getElementById("mySidebar");
            const main = document.getElementById("main");
            // Toggle the classes for showing/hiding the sidebar
            sidebar.classList.toggle("w3-show");
            // Toggle the margin of the main content
            main.style.marginLeft = "250px";
            }
        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }


    link(rel='stylesheet' href='../css/text_editor.css')
    link(rel='stylesheet' href='../css/create_form_style.css')

    script.
        //THE ONLY REASON THIS IS HERE IS BECAUSE WEDNESDAY COMES AFTER TUESDAY
        var formBlock = !{JSON.stringify(currentForm)};
        var receivedFormContent = formBlock.form_content;
        var theContainerOfTheForm = document.getElementById('form-content');
        theContainerOfTheForm.innerHTML = receivedFormContent;

    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js')
    script(src='https://html2canvas.hertzen.com/dist/html2canvas.js')
    //script(src='../js/viewform.js')
    script(src='../js/create_form_drag_drop.js')


